[2018-09-14 01:09] carlosscastro commented on #408
PR merged: https://github.com/Microsoft/botbuilder-js/pull/434

[2018-09-14 01:09] #408 closed

[2018-09-14 01:09] #403 closed

[2018-09-14 09:35] iMicknl commented on #400
Are you sure? In all examples I checked in this repository, `adapter.processActivity()` isn't an async call. However I just checked it and I can still reproduce `Error: 'done' has already been called. Please check your script for extraneous calls to 'done'.`

It would be great if there would be guidance for running a BotBuilder V4 bot on Azure Functions when it will be GA.

[2018-09-14 17:04] #430 closed

[2018-09-15 18:01] stevengum commented on #381
@roalexan, sorry for the delay... I created a new clone of the repo and did the following commands after navigating to the root of the project:

[code]

and was unable to reproduce the error. Since I couldn't repro and since you're unblocked I'm going to close this issue for now.

If you or if anyone else gets this issue please mention myself @stevengum or **stevenic** for us to open again and inv

[2018-09-15 18:01] #381 closed

[2018-09-16 00:00] tomlm opened #438 "consoleAdapter is still in botbuilder package in nodejs and not c#"
we should include it or not, but have it the same

[2018-09-16 00:58] tomlm commented on #438
fixed

[2018-09-16 00:58] #438 closed

[2018-09-16 17:08] cleemullins commented on #420
@JuanAr Hey Juan, any update on this?

[2018-09-16 19:13] stevengum commented on #328
Right now we're snapped to 1.14.5 [which is the latest release](https://www.npmjs.com/package/documentdb), and post-Ignite we will update to the latest release when a new SDK is released.

[2018-09-16 19:35] iMicknl commented on #328
The new SDK is already released (and it is awesome!). 1.14.5 is the latest release of `documentdb`, however it recently got rebranded to [`@azure/cosmos`](https://www.npmjs.com/package/@azure/cosmos) which is on version 2.0.0-4 now.

[2018-09-16 19:48] stevengum commented on #426
I'm going to be working on this very shortly, but on further investigation, the LUIS SDK doesn't bubble up an error message, just a status code. I'm going to work on a PR that maps the status codes to helpful error messages based on this page: https://westus.dev.cognitive.microsoft.com/docs/services/5819c76f40a6350ce09de1ac/operations/5819c77140a63516d81aee78

(scroll down to "_Response Body_")

[2018-09-16 20:52] carlosscastro commented on #328
Thanks @iMicknl!!! Is the surface API the same or is it substantially different? We are code complete tonight, so we might have to take that for a next release in a few weeks.

[2018-09-16 21:07] iMicknl commented on #328
You can read more about the new [Azure CosmosDB JavasScript SDK here](https://azure.microsoft.com/en-us/blog/new-azure-cosmosdb-javascript-sdk-2-0-now-in-public-preview/), still in public preview by the way. Note that they dropped Node 4 support, I am not sure what BotBuilder SDK v4 supports?

I don't know if the surface API is totally different, as far as I know the biggest change is the support

[2018-09-16 21:15] stevengum commented on #328
Hooray for Promises! ([Their note about Node 4 support](https://github.com/Azure/azure-cosmos-js#prerequisites))

If users are on the current Node LTS (8.12.0) they will definitely be able to use the v4 SDK.

[2018-09-17 14:09] sbui2 opened #444 "Any document for migrating bot in nodejs from v3 to v4?"

[2018-09-17 15:16] roalexan commented on #381
Closing this bug sounds good, since I started over and couldn't reproduce.

[2018-09-17 17:05] nyxsys commented on #444
This does not currently exist but it is something we are looking to add in the future.

[2018-09-17 17:05] #444 closed

[2018-09-17 17:07] stevengum commented on #388
@ctstone, closing this issue as #445 was merged in.

[2018-09-17 17:07] #388 closed

[2018-09-17 17:11] johnataylor commented on #420
This issue does not reproduce in the C# implementation.

[2018-09-17 17:21] johnataylor commented on #420
I'm seeing exactly the same as Ben on the 1.0.1 version of the Node package.

[2018-09-17 17:26] johnataylor commented on #420
Incidentally both implementations, Node and C#, behave well and consistently with very large number strings. Its just zero in node that seems broken.

And note its is both '0' and the word 'zero' that produce the undefined value in the resolution.

[2018-09-17 17:55] sgellock commented on #331
Closing this ticket as it's address in the following pull, which has a merge dependency on published packages to npm.  Microsoft/botbuilder-js#421

[2018-09-17 17:55] #331 closed

[2018-09-17 17:56] sgellock commented on #426
fix merged

[2018-09-17 17:56] #426 closed

[2018-09-17 18:00] JuanAr commented on #420
This issue was already addressed in Microsoft/Recognizers-Text#508 (merged). The next release of [recognizers-text-number](https://www.npmjs.com/package/@microsoft/recognizers-text-number) will include this fix.

[2018-09-17 21:06] rob-derosa opened #446 "AppSettings href links to a 404"
In the sample located here: https://github.com/Microsoft/botbuilder-js/tree/master/samples/luis-bot-es6#required-getting-set-up-with-luisai-model

"Update appsettings.json with your Luis-ModelId, Luis-SubscriptionId and Luis-Url."

The appsettings.json links to a 404 and is not included in the sample source either.

[2018-09-17 22:52] sgellock commented on #314
fix merged into master.

[2018-09-17 22:52] #314 closed

[2018-09-18 15:28] JasonSowers opened #451 "Teams Invoke Activity"
When using MS teams with a bot using authentication there is an error thrown when the Invoke event is returned from logging in without the magic code.  More details to follow.

[2018-09-18 16:13] JuanAr commented on #420
Latest version of https://www.npmjs.com/package/@microsoft/recognizers-text-number and https://www.npmjs.com/package/@microsoft/recognizers-text-suite includes a fix for this issue.

[2018-09-18 16:35] JasonSowers commented on #451
The issue seems to have been fixed.

[2018-09-18 16:35] #451 closed

[2018-09-18 19:38] Stevenic opened #454 "Choice options should be more robust"
In the v3 code you could pass the `ChoicePrompt` a list of choices with a partially filled `action` field and the SDK would fill in the missing fields. So choice a list like this:

[code]

Would be automatically converted to this:

[code]

The v4 code base doesn't do this so the suggested actions sent by the `ChoicePrompt` end up being incomplete. You'll see the buttons but clicking them won't res

[2018-09-19 14:23] Sastidar opened #461 "500 ERROR - TypeError: Recognizers.recognizeNumber is not a function"
I was following the official reservation tutorial found [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-waterfall?view=azure-bot-service-4.0&tabs=jstab) and it throws the following error. As far as I checked the function is undefined. My demo source code can be found [here](https://pastebin.com/GHN8Cg9R).

[code]

[2018-09-19 16:03] stevengum commented on #461
Crosslinking Microsoft/Recognizers-Text#869

[2018-09-19 16:35] johnataylor opened #462 "Recognizer dependency needs acceptance testing"
We have had a few problems with the Recognizer packages breaking our scenarios. We have had not just individual features broken but also broken builds.

We should consider the development of a set of tests that accurately characterize this critical dependency.

Currently we have locked the dependency to a specific version because the open version dependency has caused our build to break.

If we wa

[2018-09-19 17:02] cleemullins commented on #461
Related to #420, but not a dupe. We're seeing build failure related to this now as well.

Investigating the issues in the 1.1.0 recognizer-text.

[2018-09-19 17:37] stevengum commented on #426
Also related: #463, which includes a fix so that errors without `response.statusCode` don't blow the method up.

[2018-09-20 20:07] sgellock commented on #420
work around merged and is in 4.0.5 builds.  verified fixed

[2018-09-20 20:07] #420 closed

[2018-09-20 21:14] johnataylor opened #470 "ShowTypingMiddleware is missing from the JavaScript"
### Versions
4.0.5

### Description
In the C# we have a ShowTypingMiddleware, this is missing from the JavaScript and should be added for parity. Note, it is important that the implementation follows that of the C# around sending the actual Activity because we don't want sending the Typing indicator Activity to flip the Responded flag.

[2018-09-20 21:34] Stevenic opened #471 "AutoSaveStateMiddleware.add() should use apply()"
The current implementation of [AutoSaveStateMiddleware.add()](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/autoSaveStateMiddleware.ts#L67) uses a loop to add passed in objects to the underlying `BotStateSet`. This can be made more efficient by using `apply()` instead.

[enhancement]

[2018-09-20 23:38] Stevenic opened #473 "DCR: BotState.clear() only clears if load() has been called"
## Versions
version 4.0.5 of both Node and C# packages

## Describe the bug
There's a couple of issues here around the `BotState.clear()`:

1. On both the C# and JS versions the current implementation assumes that you've already called `load()` because it only clears the cached copy of the backing state object. If you haven't called load() then the "on-disk" version of the state will remain unchan

[2018-09-20 23:41] Stevenic commented on #473
On a related note I'm realizing that our use of clear() within our on-error handlers may be a little wrong.  The issue is that its not enough to just clear() the state you need to make sure that you've called `saveChanges()` as well.  So in our samples we should be following this pattern as a best practice:

[code]

[2018-09-21 02:14] Stevenic opened #474 "DCR: TranscriptInfo and PagedResult should be interfaces not classes"
## Versions

version 4.0.5

## Describe the bug
I just noticed that [TranscriptInfo](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/transcriptLogger.ts#L188) and [PagedResults](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/transcriptLogger.ts#L210) are defined as classes and not interfaces. In JavaScript/TypeScript these

[2018-09-21 14:37] yochay commented on #474
@Stevenic what is the impacts on transcripts logging (aka transcript middleware)?

[2018-09-21 22:11] Stevenic opened #478 "botframework-config package missing doc comments"
The package needs to have comments added so that we can generate reference docs for it.

[2018-09-21 22:28] nyxsys commented on #461
I've tested and confirmed `numberPrompt` will work in an up to date bot using recognizers-text 1.1.2

Note: the bot in the original message is using an out of date method for initializing state storage, so it will not work for verifying the issue on your end, the documentation related to this will be updated soon.

[2018-09-21 22:28] #461 closed

[2018-09-24 17:10] MarekLani opened #484 "Property 'services' does not exist on type 'TurnContext'."
## Versions
What package version of the SDK are you using.
"botbuilder": "^4.0.6"

## Describe the bug
I am developing custom middleware (using Typescript) and after updating to latest botbuilder packages I am getting error stating that Property 'services' does not exist on type 'TurnContext' when trying to call this line of code: ` context.services.set(this.cacheKey,score);`

## To Reproduce
See

[2018-09-24 19:56] benbrown commented on #484
I believe this property has been renamed to `turnState`.

[2018-09-24 22:28] Stevenic commented on #484
Yes... as @benbrown  said we renamed `DialogContext.services` to `DialogContext.turnState` as its more descriptive of what its used for.

[2018-09-26 17:31] stevengum commented on #382
Update: Asked maintainers on the PR what the plan is for merging the PR and a release. ([comment](https://github.com/Azure/azure-storage-node/pull/506#issuecomment-424802879))

[2018-09-26 22:01] stevengum opened #495 "ActivityPrompt doesn't use PromptOptions.retryPrompt"
## Describe the bug
Behavior for `ActivityPrompt` differs from other prompts in that `PromptOptions.retryPrompt` is never used. The only time retryPrompt is handled or used is in [beginDialog()](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-dialogs/src/prompts/activityPrompt.ts#L38-L40) to construct the activity if `options.retryPrompt` is an object/activity.

[Lines

[2018-09-27 19:26] stevengum commented on #471
Closing via #497

[2018-09-27 19:26] #471 closed

[2018-09-27 20:36] cleemullins commented on #470
This exists in Steve's Toybox and should be moved into the primary repo.

[2018-09-27 20:36] #484 closed

[2018-10-01 20:26] mingweiw opened #504 "Add an option to allow bots to acquire tokens from a specified tenant"
This is the same request as this [dotnet issue](https://github.com/Microsoft/botbuilder-dotnet/issues/999).

[2018-10-01 22:10] benbrown commented on #262
This new sample includes a direct call to the QnAMaker service, and shows how to handle at least a positive and negative result:

https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/11.qnamaker

[2018-10-01 22:15] benbrown commented on #306
It looks like we are using the most recent version of the library `azure-cognitiveservices-luis-runtime`. Is there another LUIS client library as well?

https://github.com/Microsoft/botbuilder-js/blob/e37311e13bf397ca80c5f475d91d6698d1a8b826/libraries/botbuilder-ai/package.json#L27

https://www.npmjs.com/package/azure-cognitiveservices-luis-runtime

[2018-10-02 12:41] debnathSD opened #506 "TypeError: builder.ConsoleConnector is not a constructor"
## Versions
Package version of the SDK: botbuilder V4.0.6
Nodejs version: Node V8.11.1
OS: Windows

## Describe the bug
Error Message:
let connector = new builder.ConsoleConnector().listen();
                ^

TypeError: builder.ConsoleConnector is not a constructor
    at Object.<anonymous> (C:\Users\debuk\Desktop\stackoverflow\app.js:3:17)
    at Module._compile (module.js:652:30)
    at Object

[2018-10-02 17:35] kamuops opened #508 "I am getting error due to normal function, how to create anonymous function and call the anonymous function .ChatBot Node.js"
SDK Platform:
SDK Version:
Active Channels: <MS Teams,etc. -->
Deployment Environment: < local development with Emulator? -->

[code]

[2018-10-02 18:00] benbrown commented on #446
The sample originally submitted has been deprecated in favor of our new samples. The LUIS sample is here:

https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/12.nlp-with-luis

@rob-derosa Let us know if I can help with the new way of setting up LUIS to work in your app.

[2018-10-02 18:10] benbrown commented on #446
Here's the (now deprecated) sample, for the record:
https://github.com/Microsoft/botbuilder-js/tree/26b46697e528cb3dbfd9da8de4770a570f93b3b7/samples/luis-bot-es6

It appears to me that `appsettings.json` was not actually in use in this sample and its inclusion on that readme was in error.

[2018-10-02 19:43] stevengum commented on #508
@kamuops, since this is a How-to question and a v3 SDK issue, please create a question on Stack Overflow using the [botframework](https://stackoverflow.com/questions/tagged/botframework) tag.

Closing issue.

[2018-10-02 19:43] #508 closed

[2018-10-03 15:56] damadei opened #513 "Connections not being reused when calling the callback endpoint"
## Versions
What package version of the SDK are you using.
    "botbuilder": "^3.8.3",
    "botbuilder-azure": "^3.0.2"

What nodejs version are you using
   8.1.4

What browser version are you using
  Not using via browser

What os are you using
  Linux and Windows the behavior is the same

## Describe the bug
Give a clear and concise description of what the bug is.
  Node.js SDK is not reusing c

[2018-10-03 17:58] stevengum commented on #454
Closing via #511's merge into master

[2018-10-03 17:58] #454 closed

[2018-10-03 18:32] shmuelgutman opened #515 "waterfallDialog turn should pass the result coming from adaptive-cards forms"
In waterfall step I just send adaptive-card activity like this
[code]
this adaptive-card includes input field with submit button.
then, in the next turn I couldnt see the submitted data in `step.result`.
Of course I can grab it from `step.context.activity.value` but I'm expecting to get it like I get a simple text response.

The simple PR I can do for it is right here:
https://github.com/Microsoft

[2018-10-03 19:38] stevengum commented on #382
The PR was merged, now pending a release of their library.

[2018-10-03 20:12] benbrown commented on #515
Thank you for the input. We are thinking of ways to incorporate interaction with cards into the dialog system.
Your solution of using `step.context.activity.valu` is a good way to do it for now.

[2018-10-03 20:39] benbrown commented on #303
Part 1 is complete.

We still need Cosmos DB mocks.

[2018-10-03 20:40] #262 closed

[2018-10-03 20:40] #253 closed

[2018-10-03 22:15] sgellock commented on #306
this is now done.

[2018-10-03 22:15] #306 closed

[2018-10-04 00:33] sdg9 opened #517 "Cannot add botbuilder-ai to node project, EISDIR: illegal operation on a directory"
## Versions
What package version of the SDK are you using.
4.0.6

What nodejs version are you using
Attempted both 8.12.0 and 10.6.0

What browser version are you using
n/a (node server)

What os are you using
Attempted on both Windows 10 and Mac OS 10.13.6

## Describe the bug
When running `yarn add botbuilder-ai` the following error is encountered

## To Reproduce
Steps to reproduce the behavior

[2018-10-04 00:56] sdg9 commented on #517
Seems to be a conflict with some other modules.  If I clear out my package.json of all other dependencies and devDependencies I can add botbuilder-ai, then if I add everything else it works.  I'll keep poking around to see if I can find the conflict, but I confirmed on two separate machines (windows and mac) that a fresh clone of my project can't add `botbuilder-ai` as a new dependency without err

[2018-10-04 01:04] sdg9 commented on #517
Found workaround until new package is published.

Per https://www.npmjs.com/package/botbuilder-ai

This makes it so when I add the package it works

[2018-10-04 11:10] cristianossd commented on #12
Hello, @Stevenic, I would like to work on this

[2018-10-04 15:22] VaroJulio opened #519 "DatetimePrompt don't resolve natural language in spanish"
Actually, I´m using the BotBuilder V4 preview SDK(4.0.0-preview1.2) (botbuilder, botbuilder-ai, botbuilder-azure, botbuilder-choices, botbuilder-core, botbuilder-dialogs, botbuilder-prompts).

Node version:  v8.11.4

Browser: N/A

OS: Win10

Bug Description:
I have been testing DateTime Prompts with inputs like "Mañana a las 8pm" or "Mañana" or "Hoy" or "Próximo viernes" and the DateTimePrompts ca

[2018-10-04 16:11] sgellock commented on #513
Please refer to the following blog post we published on this issue and how to address it.
https://blog.botframework.com/2018/03/05/fix-snat-exhaustion-node-js-bots/

[2018-10-04 16:11] #513 closed

[2018-10-04 18:58] damadei commented on #513
Hi sgellock

The problem os that this is not in my custom code. This is being done when a bit does a callback so I believe this should be done inside the bot framework so the callbacks to the channel reuses the connection.

[2018-10-04 20:06] benbrown commented on #519
@VaroJulio are you passing in a locale option?

[2018-10-04 23:02] stevengum commented on #519
@VaroJulio can you provide the code you're using or code that reproduces this outcome?

[2018-10-05 02:55] sdg9 commented on #517
I will note another team using this did not run into a problem with this, although everyone on our team spanning windows & mac did (tried on 4 machines, mix of npm, yarn, new project, and existing)

[2018-10-05 15:51] VaroJulio commented on #519
this.dialogs.add('fechaRegresoPrompt',new DatetimePrompt(undefined,'es-es'));
await dc.prompt(
            'fechaRegresoPrompt',
            'Por favor dime, ¿Cuál es la fecha de tu vuelo de regreso? ✈. (Ejemplo: mm/dd/yyyy).'
          );

[2018-10-06 10:38] pmc-a opened #520 "Yeoman generator creates incompatible LUIS model"
## Versions
What package version of the SDK are you using: **v4.0.6**
What nodejs version are you using: **v8.11.3**
What browser version are you using: **Chrome 69.0.3497.100**
What os are you using: **macOS - High Sierra v10.13.6**

Yeoman version: v2.0.5

## Describe the bug
When using the Yeoman generator and selecting the `Basic` template, the generator successfully creates the bot.

However,

[2018-10-09 07:23] Kperroch opened #522 "Issue with luisRecognizer.js"
The luisRecognizer does not take into account the optional parameters in the query string.

the staging parameter for instance.

The correction can be :
[code]

[2018-10-09 14:07] avoidwork opened #523 "package.json lacks `version` property resulting in broken builds of pre-existing bots using v4 preview"
## Versions
- literally the problem, i want 4.0.0-preview1.2 and I get 4.0.6 on a fresh install

## Describe the bug
`package.json` lacks a `versions` property, so package managers always install the latest version, breaking changes and all.

## To Reproduce
Steps to reproduce the behavior:
1. Try to install a version from npm that is not HEAD/4.0.6

## Expected behavior
Older version installed

#

[2018-10-09 14:15] #523 closed

[2018-10-09 17:54] JasonSowers commented on #522
@Kperroch would you like to submit a pull request for this change so we can review it?

[2018-10-09 20:31] benbrown commented on #520
This pertains to this file:
https://github.com/Microsoft/BotBuilder-Samples/blob/master/generators/generator-botbuilder/generators/app/templates/basic/cognitiveModels/basicBot.luis

[2018-10-09 21:20] benbrown opened #524 "Deprecate the Generator folder"
The `Generator` folder in this project is no longer used, as the Yeoman template has moved to the samples repo.

[2018-10-10 17:38] cleemullins opened #525 "Daily builds of the JS repo don't seem to be publishing"
The [daily build feed](https://botbuilder.myget.org/feed/Packages/botbuilder-v4-js-daily) doesn't appear to have been updated recently.

The daily builds that push code to the MyGet feed may have something wrong with them.

[2018-10-10 19:00] stevengum commented on #525
Per the latest CRON job:

https://travis-ci.org/Microsoft/botbuilder-js/builds/439369250#L1497-L1505:

[code]

[2018-10-10 19:04] stevengum commented on #525
The last cron build that finished and published is #1584: https://travis-ci.org/Microsoft/botbuilder-js/builds/431729689

The first cron build after that failed is #1587: https://travis-ci.org/Microsoft/botbuilder-js/builds/431980832

[2018-10-10 19:21] Stevenic commented on #515
@shmuelgutman this is going to be very brittle. The issue is there's no guarantee that the user will fill in the form and press submit as their next action.  They could send you text which means the result passed to the next step will not be the forms value.  If you really want to wait for the form to be submitted then you should use an `ActivityPrompt` with a custom validator like this:

[code]

[2018-10-10 19:38] stevengum opened #527 "[Enhancement] Use Azurite for Blob Storage tests on Travis CI"
Explore using [Azurite](https://github.com/Azure/Azurite) (a Linux-compat) Azure-certified Storage emulator for our Blob tests on Travis. This would be applicable to only JS at this time, but would be applicable for Python and Java as well.

At this time there are no Cosmos DB storage emulators available on Linux.

[enhancement]

[2018-10-10 19:46] iMicknl commented on #400
Quote from the Azure Portal. Does this mean that we don't support Azure Functions for the Bot Builder SDK at all?

[2018-10-10 22:03] JasonSowers commented on #520
@daveta do you have another version of this file?

[2018-10-10 22:14] JasonSowers commented on #520
Confirming I am seeing the same behavior

[2018-10-10 22:30] JasonSowers commented on #520
@pmc-a If you rename the file from basicBot.luis => basincBot.json  it will work.  The model was built under the assumption that people would be using the command line tools to upload the model.  In this situation it would accept the .luis extension.  If you are going to use the luis.ai UI to upload the model just change the name as the portal will only allow .json files.

[2018-10-10 22:30] #520 closed

[2018-10-11 15:06] petmat commented on #11
Hi! I'd like to take a look at this. Can you provide any additional info about the issue?

[2018-10-11 17:21] #470 closed

[2018-10-11 21:52] mecampbellsoup opened #531 "Cannot createConversation with my own reference"
## Versions
What package version of the SDK are you using. `4.x`
What nodejs version are you using `8.12.0`
What browser version are you using `N/A`
What os are you using `Mac OS`

## Describe the bug

I am not able to use the [`createConversation`](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder/src/botFrameworkAdapter.ts#L243) SDK function from the `BotbuilderFramewor

[2018-10-12 00:04] stevengum opened #533 "Builds are failing failing Auth Tests"
This affects tests that do not use a valid MSA AppId and AppPassword, but instead use an old generated Auth Token. The problem is that whenever the keys get rotated out, the auth token becomes invalid and needs to be renewed.

Instead of continuing with this auth token route, JS should take should take a page out the .NET repo and get a new token whenever the tests are run in Travis.

[2018-10-12 17:17] mecampbellsoup commented on #531
I'm pretty sure the issue is that the `parameters` object [here](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder/src/botFrameworkAdapter.ts#L248) is not being constructed properly, i.e. it is missing required parameters for the REST API endpoint to which it sends the `POST` request.

## Steps to reproduce

### Add bot to an existing Skype chat

![image](https://user-ima

[2018-10-12 20:21] benbrown commented on #531
Just adding this for clarity: This pertains to the Skype channel

[2018-10-12 21:29] stevengum commented on #522
This was fixed with #530, thanks for reporting the bug.

[2018-10-12 21:29] #522 closed

[2018-10-13 02:37] natke opened #538 "Security vulnerability in npm package"
## Versions
Package version: 4.0.6
Nodejs version: 9.11.1
npm version: 6.4.1
O/S: tested on Mac OS and Windows

## Describe the bug
npm audit produces:

[code]

## To Reproduce
Steps to reproduce the behavior:
1. $ npm install botbuilder
2. $ npm audit

## Expected behavior
No vulnerabilities

[bug]

[2018-10-13 12:00] TrejGun opened #539 "receipt card is broken"
## Versions
What package version of the SDK are you using. **4.0.6**
What nodejs version are you using **8.12.0**
What browser version are you using **chrome 68**
What os are you using **macOS 10.13.6 (high sierra)**

## Describe the bug
FB messager receipt card is broken

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://www.facebook.com/Puri-Motors-660843730767019/'
2. Click on

[2018-10-13 12:01] TrejGun commented on #539
emulator warks as expected
<img width="339" alt="screen shot 2018-10-13 at 3 01 11 pm" src="https://user-images.githubusercontent.com/185285/46905222-de349780-cef8-11e8-904c-c60c3207a97e.png">

[2018-10-15 17:29] stevengum commented on #519
@VaroJulio can you provide clarification regarding this bit:

What is the prompt returning?

Also, we recommend updating to the latest version of botbuilder. Please note that the 4.0.6 will fix the dependencies for the Recognizers-Text to [1.0.1](https://github.com/Microsoft/botbuilder-js/commit/51053d36ae8189d5c87c2132bd8fbe072cced42a#diff-8ad70ddf73cfe1b66207be74c2492bee) and will change the way

[2018-10-15 18:46] cleemullins commented on #525
Working on this now. Possibly fixed in PR #542

[2018-10-15 18:58] cleemullins commented on #525
Fix pending against master in #543

[2018-10-15 19:05] cleemullins commented on #525
Fixed.

[2018-10-15 19:05] #525 closed

[2018-10-16 14:03] shmuelgutman commented on #515
Alright, got it, make sense.
BTW, `ActivityPrompt` is an abstract class, I guess you meant to define a new class that extends `ActivityPrompt`, but wait, does it should be an abstract class? I thought `Prompt` is the base class for all prompts.

[2018-10-16 15:39] JuanAr commented on #538
Thanks @natke for taking the time to report this issue. This is already fixed in master branch since 304a626eb8ce6dc9d6c6d913c960ed8e87ff7cfa.
It will be available in the next version of the npm package soon. :)

[2018-10-16 17:10] #538 closed

[2018-10-17 16:26] benbrown opened #546 "Does ILuisService need getEndpoint()?"
## Describe the bug

The [interface declaration of ILuisService](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botframework-config/src/schema.ts#L183) does not include the getEndpoint() method that is included in the [LuisService implementation](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botframework-config/src/models/luisService.ts#L14).

If a developer ca

[2018-10-17 16:39] justinwilaby commented on #546
This should be an accessor and not a function:

[code]

[2018-10-17 18:07] stevengum commented on #533
Update on this, for the [`AuthHeader` tests](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botframework-connector/tests/auth.test.js#L10-L65) the tokens obtained trigger [the emulator validation path](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botframework-connector/src/auth/jwtTokenValidation.ts#L60-L64). This might mean there might be an underlying issue

[2018-10-17 18:40] cleemullins opened #547 "CosmosDB Storage is using "Select *" and should be explicit"
The current implemention of CosmosDB uses the following query in two places:
[code]
This should be changed to use explicit fields, as using "Select *" is generally not considered best practice for writing SQL statements.

[2018-10-17 19:20] nyxsys opened #548 "Lack of character limit in choice prompt produces strange behavior in channels."
## Versions
What package version of the SDK are you using. V4
What nodejs version are you using latest
What browser version are you using chrome@latest
What os are you using windows

## Describe the bug
Choice prompts appear to be rendered as strings inside the message, which occasionally causes strange behavior in certain channels. The example channel used in this issue is webchat, but I have not

[2018-10-17 20:15] natke commented on #538
How soon is soon? :)

[2018-10-17 20:55] #548 closed

[2018-10-17 21:56] #524 closed

[2018-10-17 22:55] JasonSowers commented on #539
You can see in the [FaceBook documentation](https://developers.facebook.com/docs/messenger-platform/reference/template/receipt)  This is just how Facebook renders a receipt card.  Nothing is broken, it is just a limitation of the channel. All channels have their own behavior as the rest API for each channel is not exactly the same. The emulator is not a good baseline for channel behavior.

[2018-10-17 22:55] #539 closed

[2018-10-17 22:59] Kaiqb commented on #154
This (turnContext.Activity.Recipient.Id) is used in the Welcome sample and also in the supporting docs.

[2018-10-17 22:59] #154 closed

[2018-10-18 01:48] NoDirective opened #551 "qnaMaker want to add strictFilters for generateAnswer"
**Is your feature request related to a problem? Please describe.**
when i use qnaMaker  by generateAnswer method to get my answer,
sometimes it return many answer depending on  the question.
I want to add  strictFilters  parameter to filter my answer , but there is no options
for that.

**Describe the solution you'd like**
if possible , please add Optional parameters for generateAnswer  that could

[2018-10-18 07:46] TrejGun commented on #539
@JasonSowers man what are you talking about?
there are `price` and `total` fields in both FB API and your API so it should work.

in other words MS products are piece of shit, and support sucks

[2018-10-18 16:24] mecampbellsoup opened #552 "Cannot Submit an Adaptive Card Input Form"
I can neither scroll down to view & fill out the other fields in this form, nor does anything happen upon clicking `Submit`.
![image](https://user-images.githubusercontent.com/2043821/47169053-8b7c2680-d2d0-11e8-87b8-fd8b58fb0d06.png)

Here is the JS function that builds the card object:

[code]

[2018-10-18 18:17] JasonSowers commented on #539
You are trying to change the currency the wrong way for facebook.  You need to provide your currency as a `fact` .  Take a look at this [stack overflow question](https://stackoverflow.com/questions/50759325/change-default-currency-to-preferred-currency-in-receipt-card-bot-framework).

This code snippet:
[code]
will render as
![image](https://user-images.githubusercontent.com/6301037/47175153-4bfd0

[2018-10-18 18:20] #546 closed

[2018-10-18 18:46] cleemullins opened #554 "QnA Maker implementation lags being .Net"
The 4.0.x QnA Maker implementation in the JS SDK is significantly different than the .Net implementation. A cursory overview shows the C# implementation seems further ahead, with cleaner code factoring, unit tests, and additional functionality regarding configuration, tracing, and options.

C# has an entire [NuGet package for QnA Maker](https://www.nuget.org/packages/Microsoft.Bot.Builder.AI.QnA/)

[2018-10-18 20:15] sgellock commented on #554
C# and JS are different and needs to be brought into parity

[2018-10-18 20:17] sgellock commented on #552
Unfortunately Skype does not support AdaptiveCards.  So what they do is render an image.  You could consider using regular cards.  Here is a link that may be helpful:
https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/06.using-cards

[2018-10-18 20:17] #552 closed

[2018-10-18 20:19] sgellock commented on #519
resolving due to not response.  if you are able to help us with a repo case, please open a new issue and we'll engage in helping

[2018-10-18 20:19] #519 closed

[2018-10-18 20:21] sgellock commented on #517
Let's make sure we do a yarn install of the package

[2018-10-19 17:50] alexandrenunes-cs opened #555 "Is it possible to send a message to a specific Skype Account using nodejs?"
Is it possible to send a message to a specific Skype Account using nodejs?

Example: I'm trying to send a message to a specific Skype account (Person 2) if my bot does not have the answer. Then, catch again the answer to resend to the first user (Person 1).

I'm using NodeJs v8.12, and BotBuilder v4
Thanks

[2018-10-19 20:13] sgellock commented on #555
@alexandrenunes-cs thank you for the opening the issue.  For how to questions, please vector them to Stack overflow.
https://stackoverflow.com/questions/tagged/botframework

[2018-10-19 20:13] #555 closed

[2018-10-22 16:43] stevengum commented on #533
Unrelated issue found via #557: one of the ChannelValidator tests throws a TypeError instead of an Error with a custom message, indicating that the test may be finishing in an incorrect/unexpected fashion.

[2018-10-22 16:57] #547 closed

[2018-10-23 01:21] NoDirective opened #562 "botConfig could not read kanji"
## Versions
What package version of the SDK are you using.
BOT FRAMWORK V4
What nodejs version are you using
6.4.1
What browser version are you using
What os are you using

## Describe the bug
Give a clear and concise description of what the bug is.
In .bot file , I added my multi qna  maker configures.
I set the name of qna using chinese  characters.  Because  I wanted to show them.
When I got th

[2018-10-23 20:06] #478 closed

[2018-10-23 21:08] cleemullins opened #564 "Readme.Md is missing Branch and Package info"
The [C# Repo](https://github.com/Microsoft/BotBuilder-dotnet/) is quite a bit richer in terms of the listing of branches, their build status, and other badges.

The C# repo also lists the packages (both published and daily). Note: The cool badge that has the download count, may not be available for NPM in which case the regular pacakge/NPM badge should be used.

The JS repo should mirror this.

[2018-10-23 23:52] jonathanhotono opened #565 "nodejs OAuthPrompt : No reply address is registered for the application"
## Versions
What package version of the SDK are you using. v4
What nodejs version are you using v8.12.0
What browser version are you using edge
What os are you using win10

## Describe the bug
OAuthPrompt doesn't seem to handle the return url correctly
![image](https://user-images.githubusercontent.com/6864547/47397317-70029700-d77a-11e8-902a-1c2812932f68.png)

## To Reproduce
Steps to reproduce t

[2018-10-24 18:19] stevengum commented on #527
This might not be necessary as the team is contemplating a move to Azure DevOps, which supports testing in multiple OSes. If this is the case, we can run all of the `botbuilder-azure` tests in a windows container using the regular Azure Storage and Cosmos DB Emulators.

[2018-10-24 20:11] sgellock commented on #562
please write a test and propose a fix for review

[2018-10-24 22:09] nyxsys opened #568 "Analytics Blade doesn’t track Skype for business."
This is unlikely a node-specific issue, but I'm moving it here from services (https://github.com/Microsoft/BotFramework-Services/issues/13) due to this being an easier location for tracking and reporting:

Original:

I have bots working with the Bot Framework v3 and v4 through Web, Skype for Business, MS Teams and Slack. In the Azure Portal, in the Bot service I go to analytics and see usage data

[2018-10-25 20:33] #398 closed

[2018-10-25 21:46] yochay commented on #568
The right place for such an issue is the [Microsoft/BotFramework-Services](https://github.com/Microsoft/BotFramework-Services) repo. Ping @dandriscoll for updates on that repo.

Closing this one.

[2018-10-25 21:46] #568 closed

[2018-10-26 00:17] cleemullins opened #577 "Update MSRest Tool Chain"
1. The version of ms-rest-js we use is 0.2.8. Current is 1.0.455.

2. Sync to latest version of autorest.typescript.

3. Add code generation step to the build, to avoid checking in generated code.

Deep dive for other packages in the tool chain that need to be updated.

[2018-10-26 13:24] deepanigi opened #578 "language translator not working with botbuilder-ai"
Hi All,

I am using version 4 sdk and building bot using nodejs. I am using the QnAMaker, LuisRecognizer library from botbuilder-ai. I want to use language translation library by refering to the steps in the following link.I see that language translation ins only included in the `npm install --save botbuilder-ai@preview
` built but when i try to install it over my existing `botbuilder-ai` the bot

[2018-10-26 15:55] v-kydela commented on #562
@cleemullins - Working on it

[2018-10-26 19:04] benbrown opened #580 "Published version of Botframework-connector 4.0.8 has vulnerable version of base64url"
## Versions
4.0.8

## Describe the bug
It seems the version published to npm points at the 2.0 branch of base64url, which causes npm audit to complain.  This is already fixed on Github, so I think we just need to publish again.

## To Reproduce

1. npm install botframework-connector
2. npm audit

You will see a complain about base64url.

[2018-10-26 19:19] stevengum commented on #577
In a tangential manner, we have out of date dependencies or non-synced in places such as [`tools/`](https://github.com/Microsoft/botbuilder-js/tree/master/tools/package.json) and [`transcripts/`](https://github.com/Microsoft/botbuilder-js/blob/master/transcripts/package.json).

"non-synced" meaning the dependencies in these folders don't match dependencies that are either globally installed or hoi

[2018-10-26 19:32] benbrown commented on #580
@stevengum that might explain it! There are similar weird issues on the 3.0 branch, where the package is up to date on Github, but out of date on npm -- but well within the timeline that it SHOULD have been published to npm.

[2018-10-26 19:36] JasonSowers commented on #565
In your AAD app did you put in a reply url?

[2018-10-26 19:42] JasonSowers commented on #565
@jwiley84 for awareness

[2018-10-26 19:48] JasonSowers commented on #531
@mecampbellsoup thanks for reporting this, I am looking into it.  If you feel you have a fix in mind please submit a pull request.

[2018-10-26 20:12] benbrown commented on #580
Looks like this will be fixed in the upcoming 4.1 release.

[2018-10-26 20:12] #580 closed

[2018-10-26 20:29] sgellock commented on #578
Please look at the following sample.
https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/17.multilingual-conversations

[2018-10-26 20:29] #578 closed

[2018-10-26 20:33] deepanigi commented on #578
Thanks , I had seen the sample but in think, the inbuilt language translator is not used but only custom built by calling the api directly . Does it mean the LanguageTranslator library is not supported anymore?

[2018-10-26 20:44] v-kydela commented on #562
@NoDirective - May I ask what you mean when you say the characters did not show correctly? How are you displaying them?

According to my tests, `BotConfiguration.loadSync` is able to read Chinese characters from the bot file correctly. I tested by including an extra value in the Luis configuration:

    {
      "appId": "0711b769-c5f0-4688-8c99-067ac5a2c114",
      "authoringKey": "1D6dLhx0MYK2H4W

[2018-10-26 20:47] v-kydela commented on #562
@NoDirective - May I ask what you mean when you say the characters did not show correctly? How are you displaying them?

According to my tests, `BotConfiguration.loadSync` is able to read Chinese characters from the bot file correctly. I tested by including an extra value in the Luis configuration:

    {
      "appId": "07****14",
      "authoringKey": "1D****CV",
      "version": "0.1",
      "r

[2018-10-26 21:10] sgellock commented on #578
Yes.  I’m afraid the sample is the only way going forward.  The middleware option was pulled out of the preview and not shipped as part of the v4 release.

From: Deepan Ignaatious <notifications@github.com>
Reply-To: Microsoft/botbuilder-js <reply@reply.github.com>
Date: Friday, October 26, 2018 at 1:33 PM
To: Microsoft/botbuilder-js <botbuilder-js@noreply.github.com>
Cc: Scott Gellock <Scott.Gell

[2018-10-27 14:33] NoDirective commented on #562
@v-kydela  Thank you for your reply.

I do not know if I did a get why to get name's value like below

[code]

Then just  get qna1 like below
const qnaConfig = botConfig.findServiceByNameOrId('qna1');
console.log(qnaConfig.name);

Here is the result of qnaConfig.name

[2018-10-29 16:39] v-kydela commented on #562
@NoDirective - I need more information. Please tell me what application you are trying to get to display Chinese characters. Whether or not Chinese characters can display correctly has everything to do with fonts and character encoding.

`console.log` will write text to whatever is defined as the console. In my case I'm running my code from the Windows command prompt and so `console.log` writes to

[2018-10-29 19:51] benbrown opened #585 "DCR: Add the ability to pass handler functions into dialog base classes"
Dialog classes like ComponentDialog have certain methods that we recommend developers override during the class derivation process - onBeginDialog, onEndDialog, etc.

If we provide a mechanism by which developers can specify these functions through _setter_ functions, developers can _directly use the base classes_ in many cases without having to derive new classes.

In think this can be an particu

[2018-10-29 20:00] benbrown opened #586 "DCR: Add ability to create a ConversationReference from a TurnContext + ResourceResponse"
SendActivities returns an array of ResourceResponses.

These ResourceResponses contain the activity id, which is a key value needed to call updateActivity or deleteActivity in the future. However, ResourceResponse does not necessarily contain all of the information required to construct a ConversationReference needed to actually call these methods.

Since the type of messages that will be deleted

[2018-10-29 20:33] yochay commented on #586
@benbrown , please ping @johnataylor  once you are done with this.

[2018-10-29 20:40] yochay commented on #585
For 4.2 limit for Consult.

[2018-10-29 21:57] EricDahlvang commented on #400
@iMicknl Have you tried awaiting the method as Tom suggests?  and calling .Done() from within adapter.processActivity()?  Something like:

[code]

[2018-10-30 16:09] tmuras opened #590 "botbuilder-ai npm issue"
The Azure deployment fails:
[code]

On linux machine it works with a warning:

[code]

[bug]

[2018-10-30 18:29] yochay commented on #586
This issue was moved to Microsoft/BotBuilder#5128

[2018-10-30 18:29] #586 closed

[2018-10-30 18:33] yochay commented on #379
This issue was moved to Microsoft/BotBuilder-V3#44

[2018-10-30 18:33] #379 closed

[2018-10-30 20:46] daveta commented on #328
We are up to date on Cosmos for v4.1.

Apparently there's a new library just released in the past week+.

[2018-10-31 00:19] nyxsys commented on #531
Currently looking into this, could you post your implementation of the method `buildDirectMessageReference` if possible?

[2018-10-31 00:41] mecampbellsoup commented on #531
[code]

I ended up using the connector client to make API requests more directly: https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botframework-connector/src/generated/operations/conversations.ts#L1475

[2018-10-31 00:51] mecampbellsoup commented on #531
I think my PR resolved it more or less though... it seems like a conversation param-mapping issue from `conversations.ts` <-> `botframework-adapter.ts`.

[2018-10-31 16:32] corinagum opened #593 "Attachments with incorrect base64 contentUrl in sendActivity fails silently"
## Versions
What package version of the SDK are you using: 4.0.8 (botbuilder, botbuilder-dialogs)
What nodejs version are you using:  v.8.12.0
What browser version are you using: Chrome v69
What os are you using: Windows 10

## Describe the bug
When trying to create an attachment that is *intentionally* corrupt (via an incorrect base64 url), the bot fails silently without throwing an error.

## To

[2018-10-31 17:20] mecampbellsoup commented on #552
@sgellock following up - also, where can I check to see which platforms *do* support adaptive cards? Cheers 😄

[2018-10-31 17:34] dmvtech commented on #590
That is a somewhat older version of npm. Can you please try updating npm and then trying again?

[2018-10-31 19:09] tomlm opened #596 "test"
## Issue
*Describe the issue you are addressing*

## Proposed change
*Describe the proposed solution*

## Component Impact
*Describe which components need to be updated*

## Customer Impact
*Describe the impact on customers*

## Tracking Status
**Dotnet SDK**
- [ ] PR
- [ ] Merged

**Javascript SDK**
- [ ] PR
- [ ] Merged

**Java SDK**
- [ ] PR
- [ ] Merged

**Python SDK**
- [ ] PR
- [ ] Merged

*

[2018-10-31 19:57] nyxsys commented on #531
Ah, yes I think that does seem to be the case, I was having a bit of trouble figuring out where your issue could be with that additional parameter included. Going to close this issue now, thank you for contributing your fix.

[2018-10-31 19:57] #531 closed

[2018-10-31 20:22] mecampbellsoup commented on #531
You're welcome man, thanks to you guys for the nice framework!

[2018-10-31 20:56] #382 closed

[2018-10-31 21:40] stevengum commented on #596
🍕

[2018-10-31 21:40] #596 closed

[2018-11-01 15:26] justinwilaby opened #600 "botframework-connector contains Node-only Dependencies"
The dependency `request` is a very heavy node-only dependency that prevents this package from being used in a web client. It can be easily replaced by `node-fetch` or some other `fetch`-like polyfill for the 2 calls that is it used for and would eliminate a great number of dependencies from the package.

[2018-11-01 17:14] tmuras commented on #590
This is from web bot installed in Azure portal - I can't update node there. Maybe it is an issue for the Azure infrastructure team.

[2018-11-01 18:01] dmvtech commented on #590
Gotcha. Sorry about that. Can you give me more information on the exact steps you are doing to see if I can reproduce it?

By going into my bot application, I can open the console and check that npm version is 5.6, although I'm not able to run the command from there.
![image](https://user-images.githubusercontent.com/43397658/47869809-1f67eb00-ddc5-11e8-95d1-bd5df2bc1b7c.png)

[2018-11-01 18:42] v-kydela commented on #562
@NoDirective - That's very curious because I can read 日本語 from a bot file and display it in the emulator just fine. I wonder if it has to do with the fonts installed on your system, or if it's an ASCII vs Unicode issue.

There are a few troubleshooting steps I'd like you to do. Go ahead and paste 日本語 into the emulator as the user to see if the emulator can render the characters at all. Also, try t

[2018-11-01 18:55] v-kydela commented on #562
@NoDirective - If you're actually using version 6.4.1 of Node, you should definitely try updating to the latest version. However, I suspect that's actually your version of npm and not Node. Please let me know what your Node version is with the command `node -v`

[2018-11-01 18:56] tmuras commented on #590
Remove the dash (-) before "i". Try that:

`npm i botbuilder-ai`

[2018-11-01 19:43] sgellock commented on #517
@sdg9, using yarn v1.12.1 i am able to 'yarn install botbuilder-ai' without error.

[2018-11-01 19:43] #517 closed

[2018-11-02 18:32] dmvtech commented on #590
Doh, of course! Thank you.

Doing that, I get some other/different exceptions. I've also noticed that I can get quite a range of versions, from web app to web app. All the way from 1.4.28 to 5.6.0.

I found the following [page ](https://blogs.msdn.microsoft.com/azureossds/2016/04/20/nodejs-and-npm-versions-on-azure-app-services/) which suggests adding a key/value pair to app settings : WEBSITE_NPM

[2018-11-03 18:53] shmuelgutman opened #602 "ActivityDialog isn't reprompting"
Hi,
At the end of the `continueDialog` if `isValid` is `false` the function just end without actually reprompting:

https://github.com/Microsoft/botbuilder-js/blob/16f47826ec7fa960b9bb89889b84d222497a54b1/libraries/botbuilder-dialogs/src/prompts/activityPrompt.ts#L53-L74

Am I missing something?

[2018-11-04 15:17] iMicknl commented on #400
@EricDahlvang, yes I already tried it as stated in my last comment. However, will give it another try this week.

There is no documentation on docs.Microsoft about Azure Functions in combination with the Bot Framework. Is using serverless for bots something we don't encourage anymore?

[2018-11-05 01:04] NoDirective commented on #562
@v-kydela
Thank you for help.
I have resolved  ut

[2018-11-05 09:55] agrawal-mohit opened #603 "What is the correct way to render options list as buttons in choice prompt?"
🚨 The issue tracker is not for questions 🚨

I am trying to present options to the user to chose from in the form of buttons, like this :

[code]

However, the web chat channel shows this like so :
![prompts rendering](https://user-images.githubusercontent.com/1859165/47990979-eb672f80-e10e-11e8-8ff6-5d76c511a84f.png)

Obviously there is something wrong in the way it is done, but I'm not sure what.

[2018-11-05 17:04] v-kydela commented on #562
@NoDirective - That's great! Could you let us know what the resolution was?

[2018-11-05 20:42] nyxsys commented on #602
I'm looking into it, but just for more context [here's the definition](https://github.com/Microsoft/botbuilder-js/blob/db9c461e1d1c1099adb16a0ff46f7e5bf478b01a/libraries/botbuilder-dialogs/src/dialogContext.ts#L231) of endDialog referred to there.

[2018-11-06 15:58] Weirwolf opened #606 "Bot Framework V4 - TypeError: Cannot perform 'get' on a proxy that has been revoked"
I am trying to make a rest query against a database that stores knowledge articles for users and returns an array of results based on what the user has searched for. Whenever I try to search I get:

`"TypeError: Cannot perform 'get' on a proxy that has been revoked"`

I have tried adding it to async as shown but I still keep getting the same error. Does anyone know what could be causing this issue

[2018-11-06 17:32] shmuelgutman opened #607 "Initial state for prompts"
Is it make sense to have the option to send "initla state" to prompt?
Something like:
[code]
and then here:
https://github.com/Microsoft/botbuilder-js/blob/16f47826ec7fa960b9bb89889b84d222497a54b1/libraries/botbuilder-dialogs/src/prompts/activityPrompt.ts#L45

could be something like `state.state = options.initialState || {};

Thanks

[2018-11-06 18:16] cleemullins opened #608 "Cryptiles dependency needs update"
The JS SDK needs to update to Cryptiles >4.1.2 to resolve known vulnerabilities.

https://github.com/Microsoft/BotBuilder-js/network/alerts

[2018-11-06 18:19] cleemullins opened #609 "MIME dependency needs update"
The MIME dependencies in the /tools directory needs to be updated.
https://github.com/Microsoft/botbuilder-js/blob/master/tools/package-lock.json

[code]

[2018-11-06 21:09] sgellock commented on #607
@shmuelgutman could you elaborate a bit on the scenario you're looking to support?

[2018-11-06 21:32] nyxsys commented on #602
If you have one, could you please post an example of this function not repeating a prompt when called after invalid input?

[2018-11-06 23:29] stevengum opened #610 "NO_KEY error messages incorrectly refer to "context.request""
## Versions
All stable versions.

## Describe the bug
Error messages in the `State` classes incorrectly reference `"context.request"`.

## To Reproduce
Steps to reproduce the behavior:
1. Go to UserState, ConversationState or PrivateConversationState.
2. Examine the `NO_KEY` value and see references to "context.request". For example:
[code]

## Expected behavior
Should refer to `context.activity`

[2018-11-06 23:43] stevengum commented on #577
Fixed via #601

[2018-11-06 23:43] #577 closed

[2018-11-06 23:51] stevengum commented on #600
Justin and I talked this afternoon. The key takeaways is that `request` makes the package Node specific, that `request` is only used in one http request and that request is a very heavy dependency.  There may be other Node specific dependencies inside of the library, but request could be swapped out for a more lightweight way of conducting http requests in a pollyfilled manner, which would allow t

[2018-11-07 21:36] benbrown commented on #606
Make sure to await your call to turnContext.sendActivity:

[code]

[2018-11-07 22:59] v-kydela opened #611 "Confusion between the await and async keywords"
In [turnContext.ts](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/turnContext.ts) the auto doc comments contain some example code that uses `await` as a modifier when defining a function. This can be seen in [`onDeleteActivity`](https://docs.microsoft.com/en-us/javascript/api/botbuilder-core/turncontext?view=botbuilder-ts-latest#ondeleteactivity), [`onSendAct

[2018-11-07 23:51] vishwacsena opened #612 "Include SDK version identifier in User-Agent header on all calls to LUIS APIs"
**Is your feature request related to a problem? Please describe.**
Today, we do not have any view into LUIS traffic that are driven by botbuilder. LUIS service instruments all calls to the service and can report on User-Agent to identify the specific client.

**Describe the solution you'd like**
On all calls to LUIS service, include User-Agent header with the following value -
botbuilder/v4-sdk/js

[2018-11-08 00:09] johnataylor opened #613 "Role instead of entity type as property name when using patterns with composite entities"
## Versions
Microsoft.bot.builder.ai
4.1.0

## Describe the bug
When using patterns with composite entities the property name in the result should be the role defined in the pattern. The problem is here:

https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-ai/src/luisRecognizer.ts#L492

In the following compositeEntity.parentType should be
this.getNormalizedEntityName(compo

[2018-11-08 00:35] v-kydela commented on #606
I'm a little unsure of what you're trying to do since knowledgeBaseTopic seems to be unused. But I think what's going on here is that the proxy is being revoked by the time the callback for your request is run. Try using a [library that uses async/await](https://www.valentinog.com/blog/http-requests-node-js-async-await/) instead of callbacks,

[2018-11-08 12:51] jonathanhotono commented on #565
@JasonSowers its working fine on AADV1, I haven't checked V2 yet again.

[2018-11-08 12:57] jonathanhotono opened #615 "Bot file update issue"
## Versions
What package version of the SDK are you using. v4
What nodejs version are you using 8.9
What os are you using : windows

## Describe the bug
Each time I tried to update my bot file configuration for my appPassword, it seems that it always tend to return error that says
`Error reading bot file. Please ensure you have valid botFilePath and botFileSecret set for your environment.`
![image

[2018-11-08 16:42] justinwilaby commented on #615
If encryption is enabled on this botfile and the `appPassword` us updated manually, the decryption will fail and this error will be surfaced. Instead, use the `msbot` cli tool to update the password or the Emulator (which uses the `msbot` library).

[2018-11-08 16:54] justinwilaby commented on #606
the above function can be modified to use `async/await` like @v-kydela suggests:
[code]

[2018-11-08 20:10] carlosscastro commented on #608
This dependency is an indirect dependency: botbuilder -> request -> hawk -> cryptiles. As such, we cannot control the cryptiles version. Filing issues against the repositories for now requesting to upgrade cryptiles.

[2018-11-08 20:11] stevengum commented on #615
Do you have another Service entry after the `"production"` service you've listed? If not, the comma is probably causing a JSON parse error. As Justin mentioned, it is recommended to update the bot file via [`msbot`](https://github.com/Microsoft/botbuilder-tools/tree/master/packages/MSBot) or via the [Emulator](https://github.com/Microsoft/botframework-emulator).

[2018-11-08 21:48] #611 closed

[2018-11-08 22:52] jonathanhotono commented on #615
@justinwilaby thanks, I used the emulator and seems to works fine now.

@stevengum yes I have other entry after `production` service.

[2018-11-08 22:52] #615 closed

[2018-11-09 10:49] avegys opened #618 "Botframework-connector conversations missing members object id"
## Versions
botframework-connector 4.1.5

## Describe the bug
9 days ago the function getActivityMembersWithHttpOperationResponse was removed from the botframework-connector conversations.ts and only function getActivityMembers was left.

(node:4568) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: connectorClient.conversations.getConversationMembersWithH

[2018-11-09 17:39] v-kydela commented on #606
@Weirwolf - Do you still need help?

Also, is this your question? https://stackoverflow.com/questions/52969703/bot-framework-v4-typeerror-cannot-perform-get-on-a-proxy-that-has-been-revo

[2018-11-09 18:04] Weirwolf commented on #606
Yes that's my question. I'm going to try the request using a different module to see if that resolves my issue. I won't get a chance to do this until Monday but hopefully it will resolve it. Thanks for the help

[2018-11-09 19:11] stevengum opened #620 "Make botbuilder-ai browser compatible"
**Is your feature request related to a problem? Please describe.**
botbuilder-ai has a dependency on request which is only used in the QnAMaker class. Additionally, there exists the azure-sdk-for-js repo which contains an isomorphic luis runtime client which can be used instead of the current Node.js-specific client. We can use `node-fetch` instead of `request`, and `@azure/cognitiveservices-luis-

[2018-11-09 21:14] #609 closed

[2018-11-09 21:38] ryanvolum opened #621 "Send Typing Indicator Helper"
**Send Typing Indicator Helper**
In the v3 SDK and in early iterations of the v4 SDK, there was a simple utility that allowed developers to have their bot send typing indicators. Albeit a minor user experience feature, it gives the end user of the bot the sense that they're communicating with a real agent that's actively typing.

**Describe the solution you'd like**
In the current iteration of the

[2018-11-10 13:01] NoDirective commented on #562
@v-kydela
I am sorry  to reply late. Actually I also do not know the reason. It just seems do well if I add more string

[2018-11-12 17:05] v-kydela commented on #562
I'm glad to hear this was resolved for you

[2018-11-12 17:05] #562 closed

[2018-11-12 18:36] stevengum commented on #610
The `getStorageKey` method is public and can be easily overwritten with a user's own specific storage key generation logic. In C# the `getStorageKey` method is a protected override, so users can also provide their own key logic.

While our implementation for the `getStorageKey` method will not trigger the `NO_KEY` error message, our default implementation of the StorageKeyFactory will check to see

[2018-11-12 21:03] v-kydela commented on #610
Thanks Steven, I hadn't thought about overriding `getStorageKey`. If that's the only way for the `NO_KEY` message to show up, shouldn't the message reflect that? Anything could be in `getStorageKey` and it might have nothing to do with `context.activity`. Perhaps the message should be `Overridden UserState.getStorageKey method did not return a key`

[2018-11-12 21:51] johnataylor opened #623 "Typing activity not being sent"
## Versions
4.1.5

## Describe the bug
@ryanvolum reports difficulty in sending typing activities. There is a related issue #621 for making it easier with helper methods but that is for 4.3. This issue tracks the report that we have problems in sending the activity even with the current verbose code.

[2018-11-12 23:12] daveta opened #624 "METRICS: P0: Ensure tracing telemetry being logged in Application Insights Trace"
## Title: METRICS: P0: Ensure tracing telemetry being logged in Application Insights Trace

Application Insights has ability to intercept ILogger events (in C#), find out equivalent in NodeJS - make sure this is turned on for all samples.  Add to documentation.

[2018-11-12 23:12] daveta opened #625 "METRICS: P1: Simple Disable of Application Insights Feature"
## Title: METRICS: P1: Simple Disable of Application Insights Feature

Disabling Application Insights should be simple (ideally single line) and any telemetry within the product should honor it.

[2018-11-12 23:12] daveta opened #626 "METRICS: P1: Telemetry Waterfall Dialog"
## Title: METRICS: P1: Telemetry Waterfall Dialog

Enables logging to satisfy "Skills" analytics. More comfortable putting this into product, given the nature of the data being collected that can be enhanced over time.

[2018-11-12 23:12] daveta opened #627 "METRICS: P0: Simplify Application Insights registration for Bot Component"
## Title: METRICS: P0: Simplify Application Insights registration for Bot Component

Application Insights is a train wreck configuring. Customers need carnal knowledge of their startup sequences which is terrible. Create a platform-level appropriate integration for ASP.Net Core/WebAPI/Node.js. Should be usable with MVC patterns. (Some checks: Ensure ILogger hooked up, ensure appsettings.json corre

[2018-11-12 23:12] daveta opened #628 "METRICS: P1: AppInsight UserID/SessionID Telemetry"
## Title: METRICS: P1: AppInsight UserID/SessionID Telemetry

Modifying the events to use Bot user/session ID's enables other Application Insights reports such as "Funnel" in show data in the appropriate user and session context.

[2018-11-12 23:12] daveta opened #629 "METRICS: P0: Ensure Request/Dependency/Event/Trace telemetry being logged in Bot and correlated with Bot UserID/Session"
## Title: METRICS: P0: Ensure Request/Dependency/Event/Trace telemetry being logged in Bot and correlated with Bot UserID/Session

Ensure the appropriate initializers installed and correct data being logged into the Application Insights service.

[2018-11-12 23:12] daveta opened #630 "METRICS: P0: Verify integration with Distributed Tracing"
## Title: METRICS: P0: Verify integration with Distributed Tracing

Need to test and verify operation id's are being transferred and correlated correctly using new ExtensionMethod in Core, Configuration in WebAPI and helper function in .nodejs.  The Bot Channel Service currently logs Acitivity (custom event) and an error on 500's.

[2018-11-13 16:08] justinwilaby opened #632 "Switch Lib Output from CommonJS to UMD"
Currently, all packages are set to use `commonjs` in the `tsconfig.json` as the output. While this is ok when standardizing for NodeJS, it is less optimal for web-based consumers since CommonJS is a non-ESM format and often presents interoperability issues (`import` vs `require`) and often eliminates the ability to use tree-shaking to minimize file size.

Changing output to `U`niversal `M`odule `D

[2018-11-13 16:59] dmvtech commented on #590
I am closing this issue as it doesn't seem to be a blocking issue. Feel free to reopen if you have need to get this resolved.

[2018-11-13 16:59] #590 closed

[2018-11-13 17:50] sgellock commented on #400
For single turn conversations using functions to implement this conversation pattern is a reasonable approach.  Outside of that, we don't suggest using functions for multi-turn dialog conversations.  Additionally, the team does not have any additional functions work planned on our immediate roadmap.

[2018-11-13 21:11] benbrown commented on #608
@carlosscastro didn't you finish this?

[2018-11-13 21:21] sgellock commented on #613
Mental note.  Don't listen to Johnny

[2018-11-13 22:29] johnataylor commented on #613
Closing this time with a link to the PR.
https://github.com/Microsoft/botbuilder-js/pull/622

[2018-11-13 22:29] #613 closed

[2018-11-14 05:04] justinwilaby opened #634 "BotFramework-Config Service Models Accept Any Type"
Given this example:
[code]
The shape of service data models are not necessarily reliable and seemingly completely interchangeable which can lead to failures when using the `instanceof` operator or erroneously setting the wrong type on a "typed" data model instance.

One would expect the `type` field to be read-only and properties that do not belong to the data model to be omitted from the instance

[2018-11-14 21:39] sgellock commented on #632
@cleemullins wanted to know if "one would assume this?"  see me for more details.

[2018-11-14 22:00] shmuelgutman opened #635 "ActivityId for outgoing activities"
Outgoing activities don't have Ids attached to them
Is it make sense to attach the ids from the `ResourceResponse[]` here:
https://github.com/Microsoft/botbuilder-js/blob/314e1c5dab621d59956a540643a437f15893dead/libraries/botbuilder-core/src/turnContext.ts#L202-L207

Something like this:
[code]

[2018-11-15 00:06] #400 closed

[2018-11-15 00:44] vishwacsena opened #637 "qnamaker trace activity is not sent on generateAnswer calls off the qna recognizer"
## Describe the bug
Trace activity should be emitted by the SDK (so emulator can render appropriate inspectors) when the generateAnswer method is called. At the moment the JS SDK only sends trace activity on answer() call. .

## To Reproduce
Steps to reproduce the behavior:
1. Get set up with 51.cafe-bot sample for nodejs
2. Run the bot (with the QnA and LUIS services configured)
3. Connect to the

[2018-11-15 17:11] v-kydela commented on #606
@Weirwolf - Did you get a chance to try anything?

[2018-11-15 17:21] #600 closed

[2018-11-15 17:54] carlosscastro commented on #608
@stevengum Are we going to remove request from this repo?

In the meantime, moving to 4.3 as we cannot do anything directly, as the dependency is indirect.

I filed issues against request and hawk to try to update the dependency:

[Ticket in request repo](https://github.com/requests/requests/issues/4875)
[Ticket in hawk repo](https://github.com/hueniverse/hawk/issues/249)

[2018-11-15 18:29] ryanvolum opened #639 "CardAction requires channelData property"
## Versions
What package version of the SDK are you using.
4.1.5

What nodejs version are you using
v10.13.0

What os are you using
Windows

## Describe the bug
CardAction interface requires unexplained ```channelData``` property. [06.using-cards sample](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/06.using-cards/bot.js) creates CardActions without channelD

[2018-11-15 20:30] #565 closed

[2018-11-15 21:52] cleemullins opened #640 "Use of depreciated methods causing Warnings during build and tests"
## Describe the bug
The tests run as part of CI/CD via Travis-CI show the following warning:

[code]

## Expected behavior
I would expect the JS SDK to use one of the recommended methods.

[2018-11-15 22:07] justinwilaby commented on #640
After a quick search, it looks like uses of `new Buffer()` can be safely swapped with `Buffer.from()`

[2018-11-16 12:33] ivarkallejarv opened #641 "Unable to continue dialog when using continueConversation"
**Is your feature request related to a problem? Please describe.**

1. I create the bot
2. I use continueConversation to change adressee
3. I create a dialogContext, inside the continueConversation
4. User answers to the question
5. I can't continue the dialog, because the dialogContext is gone
P.S. I can't save the dialogContext inside continueConversation, because I need it with the answer.

**D

[2018-11-16 19:41] ryanvolum opened #642 "Need up to date channel inspector or channel capabilities matrix"
**Is your feature request related to a problem? Please describe.**
It's often difficult to decide what media to use in which channel. Buttons, cards, adaptive cards and carousels all have different levels of support/rendering depending on the channel. Right now, the only way to determine if/how media renders in a channel is to deploy a bot to that channel and see what happens.

**Describe the solu

[2018-11-16 21:17] vishwacsena commented on #635
@shmuelgutman - can you clarify what scenario or issue you believe this helps address?

[2018-11-16 22:18] johnataylor commented on #623
@ryanvolum I just verified this works fine, for example try adding the following code to the echo sample index.js:

[code]

[2018-11-16 22:18] #623 closed

[2018-11-16 22:33] sgellock commented on #618
This SDK is built using swagger generated clients around the ms-rest-js package.  The property you are talking about is not part of the Activity protocol, so I suspect that you are looking for an unpublished property of the raw payload.

The ms-rest-js library was changed so that the response is a polymorphic response that includes both the shape of the data as specified in the swagger file (in th

[2018-11-16 22:33] #618 closed

[2018-11-16 22:51] damadei opened #643 "TypeError: this.addUserAgentInfo is not a function"
## Versions
What package version of the SDK are you using.
4.1.5
What nodejs version are you using
8.1.2
What browser version are you using
No browser
What os are you using
Win10

## Describe the bug
Give a clear and concise description of what the bug is.
When I try to run a JS Bot based on samples I'm getting this error:
[onTurnError]: TypeError: this.addUserAgentInfo is not a function
BotFramew

[2018-11-16 23:00] damadei commented on #643
More info, seems the error is here in botFrameworkAdapter.ts due to the function not found in ConnectorClient:

    protected createConnectorClient(serviceUrl: string): ConnectorClient {
        const client: ConnectorClient = new ConnectorClient(this.credentials, { baseUri: serviceUrl} );
        client.addUserAgentInfo(USER_AGENT);

        return client;
    }

    /**
     * Allows for mocking

[2018-11-16 23:07] JasonSowers commented on #643
I got this error as well here is my stack trace:

"TypeError: this.addUserAgentInfo is not a function
    at new ConnectorClientContext (c:\source\gitHub\BotBuilder-Samples\samples\javascript_nodejs\06.using-cards\node_modules\botframework-connector\lib\connectorApi\connectorClientContext.js:29:14)
    at new ConnectorClient (c:\source\gitHub\BotBuilder-Samples\samples\javascript_nodejs\06.using-c

[2018-11-16 23:11] stevengum commented on #643
I was trying to help @JasonSowers with something else when we ran across this issue, am looking into this now.

@damadei as indicated by Jason's stack trace, the error is actually coming from further down the stack in the new [ConnectorClientContext](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botframework-connector/src/connectorApi/connectorClientContext.ts#L37) class.

[2018-11-16 23:47] #643 closed

[2018-11-17 00:00] johnataylor opened #645 "ShowTypingMiddleware missing await on adapter.send"
bot.builder.core 4.1.5

await missing in callback implementation:

https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/showTypingMiddleware.ts#L75

(this is being sent from a timer callback, so maybe this is harmless?)

there is more implementation below it... is this redundant?

[2018-11-17 00:01] stevengum commented on #643
@damadei, @JasonSowers, the current workaround until a new version is released is to pin your versions of ms-rest-js and ms-rest-azure-js to 1.0.455 and 1.0.176, respectively.

[code]

[2018-11-17 17:59] shmuelgutman commented on #635
I have a transcript-logger (like the "official" BlobTranscript but for S3), the key of each log record is consists of the `activity.id`, of course, I can get work around it by generating some unique id or something like this, but I wonder, if for incoming activities I have ids why not for outgoing?
I understand that the id is not available immediately, but as soon as we get the id from the adapter

[2018-11-18 18:51] #610 closed

[2018-11-19 16:41] Weirwolf commented on #606
I've updated my request to use the Axios module now so I'm no longer getting the proxy revoked error. However I'm now getting a 401 'Unauthorised' error on my request and I'm not sure what I'm doing wrong with my authentication as I'm new to Axios. My request is below.

[code]

[2018-11-19 21:44] #564 closed

[2018-11-19 21:46] sgellock commented on #607
close due to inactivity.

[2018-11-19 21:46] #607 closed

[2018-11-19 22:41] stevengum commented on #474
Note to self: mark PR as a breaking change when filing.

[2018-11-20 00:59] Zerryth commented on #637
Good news: got the QnAMaker Trace in generateAnswer()
Bad news: the info on the trace is fairly unhelpful, as it doesn't display the actual results of qna service

Currently investigating if this is an issue in the SDK or if it's on the emulator end

### Compare
**QnAMaker Trace** - not much shown in results
![image](https://user-images.githubusercontent.com/35248895/48744492-53903800-ec1c-11e8-9e

[2018-11-20 01:10] dmvtech commented on #641
@ivarkallejarv , can you share any sample code you might have so that we can better understand the scenario and how you are attempting to accomplish? Also, I want to confirm that by addressee, you are meaning separate, specific users?

[2018-11-20 06:53] johnataylor commented on #328
We are on the latest version of the documentdb package 1.14.5 last published 4 months ago.

However, there is a new CosmosDB package in npmjs under a different name [@azure/cosmos](https://www.npmjs.com/package/@azure/cosmos) this was published 13days ago.

Presumably we should switch to that package. This will, however, require some code change. The concepts remain the same and an initial look at

[2018-11-20 07:01] johnataylor opened #648 "ConfirmPrompt can throw an exception processing activity with locale string empty."
## Versions
botbuilder-dialogs
4.1.5

## Describe the bug
If the inbound activity locale is string empty the code in the recognize phase of the prompt appears to have an exception if the text of the utterance is not recognized. It attempts to look up the locale in its choice table. The logic should be the same as the prompt phase.

This has recently been fixed in the C# implementation in addition

[2018-11-20 17:34] #533 closed

[2018-11-20 17:59] sgellock commented on #383
@stevengum talked with @tomlm about this.  he has two possible approaches.  can you follow up with him

[2018-11-20 18:42] johnataylor commented on #328
per conversation with @sgellock moving this to next milestone.

[2018-11-20 19:47] msft-shahins opened #652 "Bot builder dependencies to other builder packages should use ~ versioning instead of ^"
## Versions
All 4.x.x releases suffer from this issue

## Describe the bug
Bot builder dependencies in packages.json are currently `^4.0.0` when importing other bot builder package dependencies, e.g. [botbuilder-core](https://github.com/Microsoft/botbuilder-js/blob/66dd368e35a64302563afa66d17134e7c833853f/libraries/botbuilder/package.json#L26). This causes having a hard dependency on exact version

[2018-11-20 20:43] johnataylor commented on #652
Given we are currently releasing the packages together we could happily set the dependency as exact.

[2018-11-20 22:34] stevengum commented on #383
@tomlm, @ctstone would this suffice?

[code]

__Original Code__
[code]

[2018-11-20 23:39] ctstone commented on #383
It's definitely better than before, but I do have some suggestions:

It looks like you want transcript logging to be non-blocking, but this could potentially cause issues if the framework is initiating unbounded parallel IO requests (as here). The solution would seem to be one of:

1. Add a queuing mechanism to the framework (errors to be handled by an EventEmitter, Observable, or equivalent).
2.

[2018-11-21 00:40] stevengum commented on #652
Jumping on @johnataylor's point, we also only test the latest bits together, we do not test cases between 4.0.8 and 4.1.5, let alone testing 4.1.4 with a dependency on 4.1.5.

@benbrown as someone more well versed in the ecosystem and what others are doing with their packages, can you chime in with your opinion?

FWIW, I support pinning to specific versions over sticking to patch releases (`~`).

[2018-11-21 01:00] #640 closed

[2018-11-21 12:48] ivarkallejarv commented on #641
@dmvtech
1. To start a conversation with someone, I have to use continueConversation
2. When I want that conversation to contain a dialog, then I have to create a dialog context
3. Because I have to give the turnContext to create a context, I create it inside the proxy

All of these steps are illustrated by the following snippet:
[code]
Now, if I wanted to access the dialog outside this proxy, I t

[2018-11-21 17:33] benbrown commented on #652
I'm not sure there is a strong established opinion about ^ vs ~ within intertwined packages like ours, but @johnataylor's reasoning rings true to me.

The only concern I have with this is that it requires us to more frequently update the package files - at every minor release instead of major. That's fine, but we should consider putting together a release checklist to keep track of this process.

[2018-11-21 17:58] v-kydela commented on #606
It looks like you're now sending auth information that you weren't before, and I'm not sure I understand the reason for the change. It may be worthwhile to try @justinwilaby's solution (make your own promise) and see if that works.

"Unauthorized" errors are common in bots because of missing or incorrect app ID's and passwords or keys to access services like LUIS. Are you sure it's your axios requ

[2018-11-21 18:14] johnataylor opened #655 "ConfirmPrompt and ChoicePrompt expose static data structures inconsistent with the C#"
## Versions
4.1.6

## Describe the bug
ConfirmPrompt and ChoicePrompt expose public (and static) data structures:
- defaultConfirmChoices
- defaultChoiceOptions

Having these _static_ is particular egregious, refer to [Action at a distance](https://en.wikipedia.org/wiki/Action_at_a_distance_(computer_programming))

These should be private as they are in the C#.

**The solution is to deprecated for

[2018-11-21 20:02] benbrown commented on #624
Theoretically this means intercepting messages sent to console.*

[2018-11-21 20:05] benbrown commented on #625
(in other words, If configuration is not set, disable the features)

[2018-11-21 21:49] benbrown commented on #652
Ready for review1

[2018-11-21 23:56] stevengum commented on #383
Agree with the feedback above, especially in regards to console-logging errors. To me it's better if the class throws the errors for the onTurnError to catch them.

I'm not a front-end person, but one of the desired parts of having botbuilder and botbuilder-core separate is that botbuilder-core is browser compatible. If we proceed with the EventEmitters route, we'll need to take a pollyfill for _t

[2018-11-22 17:36] daveta commented on #624
@benbrown: Haven't tested, but I think the way to enable the console hook is
`.setAutoCollectConsole(true)`.

Here's the blurb:
https://github.com/Microsoft/ApplicationInsights-node.js/#configuration

If you agree, we can probably close this.
I think this matches reasonably close what we're doing on C#:

[code]

[2018-11-22 17:38] daveta commented on #627
Assuming it works, AppInsights in JS looks pretty clean.  Not sure if we need any simplification, just good examples:
https://github.com/Microsoft/ApplicationInsights-node.js/#configuration

[2018-11-22 17:42] daveta commented on #630
I finally got a test case (thanks to Jessica Wailes).
The current samples don't correlated channel data.

https://github.com/Microsoft/ApplicationInsights-JS/blob/master/API-reference.md#config

I think we need to find a way to enable `enableCorsCorrelation`.

https://github.com/Microsoft/ApplicationInsights-JS/blob/master/API-reference.md#config

[2018-11-22 18:00] daveta commented on #626
@benbrown : Slight modifications after review with virtual assistant and discussion with @yochay.
The shape of "WaterfallStep" has changed, where the customEvent name is always "WaterfallStep" like the VA team is doing.  This breaks the out-of-box Application Insights funnel report, but the new schema I think is a better shape for reporting.
This has been updated.. I can make the changes if you wa

[2018-11-23 14:59] Weirwolf commented on #606
I'm sure its the request that's causing the error, I've tried to create a function separate from the bot and I still get issues with the request. That being said I've now resolved the auth issue and I am instead getting an issue where it is not pulling in any articles which I've raised a stackoverflow question about -
 https://stackoverflow.com/questions/53448900/typeerror-cannot-read-property-dat

[2018-11-23 14:59] #606 closed

[2018-11-26 10:05] imdineshgrewal opened #658 "How to have localization in botbuilder SDK v4?"
Hi,

I'm trying to create a bot using SDK v4. The bot needs to be localized in Spanish, Portuguese and French. Could someone please help me with any documentation is available to create multi-languages bot using botbuilder SDK v4? Or do SDK v4 supports multi-languages internally?

Regards,

[2018-11-26 16:14] benbrown commented on #383
We are considering using EventEmitters to get customizable telemetry data out of things like Dialogs. There is a chance this will be an adapter-level emitter that could be used in any part of the application to emit events of any kind, including errors like this.  However, this is still in planning for 4.3 at the earliest.

I do think it is important not to block on transcript logging, and also no

[2018-11-26 16:52] benbrown commented on #624
Looks like we need it to be `.setAutoCollectConsole(true, true)` to get the actual console.logs, which I believe is what we're trying to do.

To be clear, this would capture ALL debug/trace output that would normally go to the terminal.

[2018-11-26 20:03] benbrown commented on #624
OK I can confirm that calling `.setAutoCollectConsole(true, true)` will capture all console.logs and send them to Applicaiton Insights as TRACE events.

[2018-11-26 22:19] stevengum commented on #639
I'm pretty sure that we need to make it optional, similar to what we do on the Activity interface. This is would probably be fixed on this [line](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/swagger/model_fixes.js#L14).

[2018-11-27 05:46] jonathanhotono opened #660 "better chat flow after oauthcard"
## Versions
What package version of the SDK are you using. [4.1.5]
What nodejs version are you using [8.12]
What browser version are you using Windows
What os are you using Windows

Is there any way to  continue previous dialog after OAuthCard is launched and fullfilled?
Ideally something like this sample conversation:
User: Request a new site
**Bot: Please Login (Shows OauthCard)**
--- User Logge

[2018-11-27 06:36] stevengum commented on #639
Reopening this as we need to regenerate the schema libraries for this fix to be in.

@sgellock, I can do a one line (two line?) fix to just add the `?` where necessary to unblock for 4.2.

For later/4.3 we should also consider a bump of autorest and then regenerating the libraries to get the new azure namespaced "goodies".

[2018-11-27 06:36] #652 closed

[2018-11-27 21:11] msft-shahins opened #661 "aadObjectId in ChannelAccount and ConversationAccount"
## Versions
botbuilder 4.1.7
## Describe the bug
aadObjectId have been added as a required field in ChannelAccount and ConversationAccount in recent releases. Is it a required or optional field per bot framework protocol? I think these fields should be optional since not all users/bots/conversations might have an aadObjectId associated with them.

[2018-11-27 21:14] msft-shahins commented on #661
Also donet sdk doesn't have aadObjectId as a property for ChannelAccount: https://github.com/Microsoft/botbuilder-dotnet/blob/6541e7872ab5efbbbba564faac22d21f5d697877/libraries/Microsoft.Bot.Schema/ChannelAccount.cs#L19

[2018-11-27 23:17] benbrown commented on #625
I'm not sure we can achieve this in Javascript, since the implementation requires at least a few lines of code to include.  What are the considerations here?

[2018-11-27 23:50] v-kydela commented on #660
Since you put "sample" in the title, are you following a specific sample?

It sounds like this is a question about managing dialog flow. Have a look at the documentation to see how to accomplish something like this: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-dialog?view=azure-bot-service-4.0

If you're already competent with waterfalls and dialog stacks and you've gotte

[2018-11-28 00:18] jonathanhotono commented on #660
@v-kydela renamed it to sample needed.

It is not a problem when managing flows without oauth card. But when we incorporate oauthcard, it always stops after user is authenticated instead of continuing the previous dialog (regardless its waterfall or normal)
https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/24.bot-authentication-msgraph

[2018-11-28 09:19] DeepakDonde opened #663 "Luis api- create application which is public by default"
I am trying to create app on Luis which is accessible by non-contributors so that they can

 query this app with a valid key. I am able to create app with the following request body

`{
	"name": "MyFirstDummyApp",
	"description": "This is my first dummy application",
	"culture": "en-us",
	"usageScenario": "IoT",
	"domain": "Comics",
	"initialVersionId": "1.0"
}`

But i don't find any flag or key i

[2018-11-28 18:22] stevengum commented on #639
For public record, we'll be regenerating the the connector and schema libraries for 4.2, no manual changes!

[2018-11-28 18:32] sgellock commented on #639
Let’s decide if we are picking up the lastest ms-rest-js or staying pinned to the current version we are using

From: Steven Gum <notifications@github.com>
Reply-To: Microsoft/botbuilder-js <reply@reply.github.com>
Date: Wednesday, November 28, 2018 at 10:22 AM
To: Microsoft/botbuilder-js <botbuilder-js@noreply.github.com>
Cc: Scott Gellock <Scott.Gellock@microsoft.com>, Mention <mention@noreply.g

[2018-11-28 20:09] benbrown commented on #630
This is all working as expected.

[2018-11-28 21:10] benbrown commented on #663
@cleemullins can you please move this to the tools repo, thanks

[2018-11-28 21:13] benbrown commented on #661
@cleemullins can you move this to the main botbuilder repo thanks

[2018-11-28 21:15] benbrown commented on #660
@cleemullins this belongs in the samples repo, please

[2018-11-28 21:18] benbrown commented on #658
We have a multilingual sample application that demonstrates one approach to this problem:

https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/17.multilingual-conversations

[2018-11-28 22:11] #474 closed

[2018-11-28 23:33] stevengum opened #665 "Use current versions of Autorest and its extensions to generate code"
## Versions
4.0.0-4.2.x

## Describe the bug
Connector and Schema libraries are not generated with the newest/newer versions of autorest. Additionally, because of this we have dependencies on deprecated packages such as `ms-rest-js` when we should be using `@azure/ms-rest-js`, which causes warnings when installing botbuilder/botframework-connector, botframework-schema, etc. (See Microsoft/BotBuild

[2018-11-29 19:16] CoHealer commented on #602
Closing due to inactivity. If the issue persists @shmuelgutman, please re-open.

[2018-11-29 19:16] #602 closed

[2018-11-29 23:48] stevengum commented on #639
@sgellock, @stevenic and I decided to stay with the versions of autorest used to create our current bits. This is so that we introduce as little changes in the code base right before we release 4.2.

I spoke with @cleemullins as well to make sure we're all on board and have created #665 to make sure that we pick up the latest autorest bits for 4.3.

In #666, we address this issue as well as the is

[2018-11-30 00:53] yochay commented on #554
Working with QnA team, but it will not land in 4.2 timeframe. Moving to 4.3.

[2018-11-30 12:07] rasiya-deshmukh opened #667 "Microsoft Azure Bot Framework SDK 4: Send proactive message to specific users from bot using Node js"
I am able to send message to specific users with older botbuilder SDK 3.13.1 by saving message.address field in database.

[code]

How can this be done with botbuilder SDK 4? I am aware of the Rest API but want to achieve this with the SDK itself because the SDK is the more preferred way of communication between the bot and user.

Thanks in advance.

[2018-11-30 13:42] sgellock commented on #639
That seems right.  Good call!  Thanks Steven

From: Steven Gum <notifications@github.com>
Reply-To: Microsoft/botbuilder-js <reply@reply.github.com>
Date: Thursday, November 29, 2018 at 3:48 PM
To: Microsoft/botbuilder-js <botbuilder-js@noreply.github.com>
Cc: Scott Gellock <Scott.Gellock@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/botbuilder-js] CardAction require

[2018-11-30 13:56] CoHealer opened #668 "Email Settings Blank in BotFramework Portal"
## Bot Info
* SDK Platform:  Node.js
* Active Channels: Skype
* Deployment Environment: Azure Bot Service - portal.azure.com

## Issue Description
Cant change the settings endpoint, error received:

{"readyState":4,"responseText":"{\"error\":{\"code\":\"InvalidBotData\",\"message\":\"OwnerIds: OwnerIds must contain at least one email address. \"}}","responseJSON":{"error":{"code":"InvalidBotData",

[2018-11-30 17:33] jwiley84 commented on #667
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2018-11-30 17:33] #667 closed

[2018-11-30 22:05] tomlm commented on #383
@stevengum solution is the right one.

[2018-12-02 08:18] #639 closed

[2018-12-02 20:21] mecampbellsoup opened #670 "Control/configure size of rich cards or adaptive cards"
Hey guys,

I wrote out this question in an Emulator PR but wanted to open an issue here as well to make sure it falls in the right category:

https://github.com/Microsoft/BotFramework-Emulator/pull/667#issuecomment-443537958

Basically, when we try to use rich/adaptive cards in the Bot Framework, our card contents get cut off at seemingly arbitrary spots - i.e. cards render differently in Skype iO

[2018-12-03 09:08] rasiya-deshmukh commented on #667
Thank you for replying @jwiley84. I have already asked this on Stack Overflow two weeks ago which has not been answered yet. https://stackoverflow.com/questions/53424861/microsoft-azure-bot-framework-sdk-4-send-proactive-message-to-specific-users-fr

[2018-12-03 09:49] ghost1996110 opened #671 "is there a way to access session.conversationData while intercepting 'send' hook from middleware?"
bot.use({
botbuilder (session, next) {
logger.info("MESSAGE RECEIVED:" + session.message.text);
next();
},

send (event, next) {
logger.info("MESSAGE SENT:" + event.text);
next();
}
});

is there a way to access session in send hook in middleware ?

[2018-12-03 16:36] sgellock commented on #658
@imdineshgrewal if the help BenBrown provided above doesn't answer your questions, then please vector product behavior, how-to, or general understanding questions, please use Stackoverflow.
https://stackoverflow.com/search?q=bot+framework

[2018-12-03 16:36] #658 closed

[2018-12-03 16:39] sgellock commented on #645
pulling back into 4.2

[2018-12-03 17:52] benbrown commented on #645
I think this IS harmless, since we don't really need to block on the typing activity having been sent before ... waiting to send another one for a few seconds.  But it doesn't HURT either...

[2018-12-03 21:09] #473 closed

[2018-12-03 21:09] benbrown opened #674 "Update build process to handle botbuilder-applicationinsights"
This new module needs to be built, package version updated, and then published to npm just like the other modules included in this repo.

[2018-12-03 21:53] tdurnford commented on #670
Unfortunately, the size of the various cards are channel specific and cannot be modified. However, you do have control over font size and other features within the card.

[2018-12-03 21:53] #670 closed

[2018-12-04 15:00] #645 closed

[2018-12-04 16:57] Zerryth opened #675 "options in QnAMaker class are overwritten by hardcoded defaults"
## Versions
What package version of the SDK are you using. - JS botbuilder-ai 4.1.6
What nodejs version are you using - v10.14.1
What browser version are you using - Chrome

## Describe the bug
Currently in QnAMaker class the constructor initializes `options` (optional parameter) to hardcoded values `scoreThreshold: 0.3` and `top:  1`.

There is nothing else in the class that would assign `scoreTh

[2018-12-04 17:30] Zerryth opened #676 "QnAMaker class does not throw helpful error when not passing in argument for required endpoint parameter"
## Versions
What package version of the SDK are you using. - JS botbuilder-ai 4.1.6
What nodejs version are you using - v10.14.1
What browser version are you using - Chrome

## Describe the bug
`QnAMaker` class requires an `endpoint` parameter.

However when you create an instance of `QnAMaker` without passing in an endpoint, no helpful errors are thrown.

The bot only replies "`Oops. Something we

[2018-12-04 19:38] CoHealer commented on #637
Closing as addressed with PR. Reopen in event of PR rollback.

[2018-12-04 20:25] ryanvolum opened #678 "ChoicePrompts and ConfirmPrompts should offer a way to handle invalid responses"
Oftentimes developers use a ChoicePrompt or ConfirmPrompt (basically a binary choice prompt) to guide a conversation:

![image](https://user-images.githubusercontent.com/3891951/49469824-59aa1b00-f7bd-11e8-80a9-f86dbdbb8e1b.png)

That said, we might also want our bot to be able to accept natural language input:
![image](https://user-images.githubusercontent.com/3891951/49470263-68450200-f7be-11e8-

[2018-12-04 20:30] stevengum commented on #637
Reopening as we track work by open issue, not PR.

Please check with @sgellock or @cleemullins if there are any questions.

[2018-12-04 21:35] stevengum commented on #593
Update: Currently not reproing with botbuilder 4.1.7 and the emulator 4.1.0

[2018-12-04 21:49] ryanvolum opened #680 "PromptOptions validations property is neither typed nor documented"
## Versions
Package 4.1.5
Node v10.13.0
Windows

## Describe the bug
PromptOptions has a `validations` property on it:

![image](https://user-images.githubusercontent.com/3891951/49476561-32f4e000-f7cf-11e8-9322-f94066dc374d.png)

It seems potentially useful for passing some additional validation logic, but it's unclear how to. The property is typed as an `object` and no docs/samples seem to menti

[2018-12-04 22:14] ryanvolum commented on #678
Just had a good discussion with @drub0y and @joll59 about this problem. We've landed on the solution to this being to not use ChoicePrompt, and instead to use TextPrompt with an activity that has buttons on it. In the scenario that we want to accept either a button-click or a text response, using a text prompt and switch statement (for checking if buttons were clicked) feels like an appropriate so

[2018-12-04 22:14] #678 closed

[2018-12-04 22:48] CoHealer commented on #637
Ack &  thx. Will follow up post build release.

[2018-12-04 23:11] stevengum commented on #593
Was able to repro with the full-bundle sample from WebChat, spoke with @compulim in person and he agreed it is a WebChat issue. @daveta can you transfer this to WebChat please?

[2018-12-05 00:11] #612 closed

[2018-12-05 00:13] ryanvolum opened #681 "LuisRecognizer.recognize should offer a string overload"
As of now, LuisRecognizer.recognize can only take a context object. If all the recognize function needs is some text, it should at least take it as an overload.

This ultimately affects testability and code structure - unit tests shouldn't have to manufacture context objects just to test LUIS recognition. Correspondingly, developers shouldn't have to pass context deep into code that doesn't need i

[2018-12-05 00:33] ryanvolum opened #682 "LuisRecognizer lacks complete typing"
## Versions
SDK Version: 4.1.5
Node Version: v10.13.0
OS: Windows

## Describe the bug
When following the LUIS sample, it indicates that to get the top scoring intent you can do the following:
[code]
However, when inspecting the code, neither `luisResult` nor `topScoringIntent` seem to be part of the LUIS result. Intellisense therefore doesn't show it an option.

![image](https://user-images.githu

[2018-12-05 04:09] #637 closed

[2018-12-05 04:44] Zerryth opened #684 "QnAMaker trace does not behave the same in JS as it does C#"
## Versions
What package version of the SDK are you using. - JS botbuilder-ai 4.1.6
What nodejs version are you using - v10.14.1
What browser version are you using - Chrome

## Describe the bug
PR https://github.com/Microsoft/botbuilder-js/pull/683 implements the use of QnA Maker Trace, as requested by issue #649 by including the `emitTraceInfo()` (already in the JS SDK)

However,
* JS: the two me

[2018-12-05 05:57] dmvtech commented on #641
@ivarkallejarv Thank you. I am looking into this.

[2018-12-05 09:05] gNechitailo opened #685 "adapter.createConversation in microsoftTeams 'Could not parse tenant id'"
## Versions
What package version of the SDK are you using: "botbuilder": "^4.1.7",
What nodejs version are you using: v8.9.3
What os are you using: mac OS X

## Describe the bug
microsoftTeams chat doesn't work with `createConversation`

Documentation says that I can create a direct conversation with a user after he/she mentioned the bot using
BotFrameworkAdapter.createConversation(address, logic)

[2018-12-05 09:49] NoDirective opened #686 "Teams could not display image Well"
I made an activity like blew. And it show Well in emulater , and not do well in teams.

[code]

![image](https://user-images.githubusercontent.com/44224924/49504984-1f747280-f8be-11e8-9252-8ed0d4554a1c.png)

![image](https://user-images.githubusercontent.com/44224924/49505143-78dca180-f8be-11e8-9d16-1cd6b3026a51.png)

[2018-12-05 19:17] #383 closed

[2018-12-05 20:03] #627 closed

[2018-12-05 20:03] #628 closed

[2018-12-05 20:03] #629 closed

[2018-12-05 20:03] #624 closed

[2018-12-05 20:03] #626 closed

[2018-12-06 00:06] #674 closed

[2018-12-07 09:34] sjoerdkoolen commented on #400
Silly question.. what's a multi turn dialog?

[2018-12-07 14:01] sgellock commented on #400
It’s a term used to describe a type of conversation flow.  It’s when the bot has a requirement to get data from the user that requires processing more than one turn.

e.g.
Bot says:  What is your name?
User says:  Scott
Bot Says:  Hello Scott.  Where do you live?
User says:  Seattle.

From: sjoerdkoolen <notifications@github.com>
Reply-To: Microsoft/botbuilder-js <reply@reply.github.com>
Date: Fri

[2018-12-07 18:53] CoHealer commented on #635
@shmuelgutman, the activity ID is not unique and can be reused for things like update and delete actions.  It seems generating your own IDs may be a better solution for what you're trying to accomplish.

[2018-12-07 18:53] #635 closed

[2018-12-07 21:10] bwamie opened #690 "Only creating ImBack SuggestedAction"
## Versions
SDK Version 4.2.*

## Describe the bug
This function should allow creating different types of ActionTypes.  Therefore developer can not create another type of action type such as MessageBack. Given the fact that MessageBack is being supported in C# SDK and channels, we need to provide an option to pass the SuggestedAction actionType.

[bug]

[2018-12-09 20:04] iMicknl opened #691 "databaseCreationRequestOptions is a required property, instead of optional"
## Versions
What package version of the SDK are you using: 4.1 of `botbuilder-azure`

## Describe the bug
The interface `CosmosDbStorageSettings` requires databaseCreationRequestOptions & documentCollectionRequestOptions since they are a required property. This is not in parity with the .NET SDK, where those [aren't a required property](https://github.com/Microsoft/botbuilder-dotnet/blob/master/li

[2018-12-10 11:31] maheshcv commented on #313
Looks like this is not ported to Ver 4.0

[2018-12-10 21:35] cleemullins commented on #676
@Zerryth This also needs to align across both C# and JS

[2018-12-10 21:40] cleemullins commented on #686
@jwiley84 Any update?

[2018-12-10 21:40] cleemullins commented on #686
@stevenic mentions that Teams may not support embedded images.

[2018-12-10 21:42] iMicknl commented on #686
Possible related issue https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/issues/172

[2018-12-10 21:43] cleemullins commented on #690
@bwamie, please make sure this same work is done in the C# repo.

[2018-12-10 23:32] CoHealer commented on #641
@dmvtech, any update?

[2018-12-11 00:23] cleemullins opened #694 "Readme.md in the "Libraries" directory is wrong"
The [ReadMe file here](https://github.com/Microsoft/botbuilder-js/tree/master/libraries) is incorrect.
https://github.com/Microsoft/botbuilder-js/tree/master/libraries

This should be updated in the following ways:
1. Add the AppInsights Package to the list.
2. Include the Daily Feed instructions
3. Remove the `@preview` tag, as we don't use that.

Alternately... delete the file.

[2018-12-11 19:39] jwiley84 commented on #686
I'm having some difficulty repro'ing this, because I can't get an image with a small enough URI. It keeps throwing regex syntax errors.

[2018-12-11 20:42] stevkan commented on #671
Hi @ghost1996110, I'm looking into this and will connect with you when I know more.

[2018-12-11 20:51] stevengum commented on #338
Crosslinking Microsoft/BotBuilder#5219

[2018-12-11 22:23] stevkan commented on #671
@ghost1996110, this can be accomplished by calling the loadSession method on the bot. The method takes the session address which can be found in the event parameter that is passed into the send middleware call. This will load the whole session object including the conversationData bag. The code would look something like this:

[code]

Hope of help!

[2018-12-12 00:57] NoDirective commented on #686
I'm sorry if I may have been unclear. XXXXXXX is a varibale.

[2018-12-12 01:09] NoDirective commented on #686
My image is 19.3 KB.

"iVBORw0KGgoAAAANSUhEUgAAAyAAAAHCCAYAAAAXY63IAAAABmJLR0QA/wD/AP+gvaeTAAAgAElEQVR4nOzdd5idVb328e/aM0kmDQgthZLQewu9KEIOiAhyaBZQAYGA2JCjr4XjwSOgRz0WEPWYKIgoTaQjRYqAVA29J5GWkAQSUkmZzOzf+8czO4kQSJuZtcv3c137mrU3k+TOXGSeufda61kgSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZJqRsodQJK6W0RE7gzLI6VUFd+j/XpJkjpTc+4AkpRFtf+sWm0/819a5V+vY6rs6yVJelcWEEmqMSeffPK+QA+AUqkUEfHMqFGjJq3I7

[2018-12-12 05:51] ghost1996110 commented on #671
i did what you told and it printed nothing and then i printed the whole session variable
then it shows conversationdata as empty {},
i have shown the log below which got printed

"botbuilder:noExp":"^(2|n|no|nope|not|false)(\\W|$)"}},"en-US":{"loaded":{"_40":1,"_65":1,"_55":true,"_72":null},"entries":{}}},"_defaultLocale":"en"}},"userData":{},"conversationData":{},"privateConversationData":{},"ses

[2018-12-12 06:47] bwamie commented on #690
@cleemullins I already updated the C# samples and everything looked fine in the C# SDK.
Thanks

[2018-12-12 17:31] jwiley84 commented on #686
Let me put that into my bot and see what happens.

What I mean by syntax error wasn't the variable, it was how it was laid out. The variable has to be within the quotes, and there shouldn't be a '+' in the middle.

[2018-12-12 18:02] jwiley84 commented on #686
Hi @NoDirective! That link actually worked perfectly for me to put your image in my teams bot.
![teamstest](https://user-images.githubusercontent.com/17333688/49888735-98128c00-fdf4-11e8-8f8c-2348c610ad38.png)

Here is the code I used to call it:

[code]

[2018-12-12 22:51] #691 closed

[2018-12-13 05:41] NoDirective commented on #686
I am sorry  I used the teams online on the web browser.

Actually , You are right . That it works in the teams software
![image](https://user-images.githubusercontent.com/44224924/49918106-3a11a180-fee5-11e8-93b2-8aba9cec89dc.png)

[2018-12-13 16:50] jwiley84 commented on #686
Let me see what happens if I use Teams in web mode.

[2018-12-13 16:53] jwiley84 commented on #686
I am still unable to reproduce this error, as my card works in the web browers (teams.microsoft.com) as well.
![browser](https://user-images.githubusercontent.com/17333688/49954119-96100200-feb4-11e8-974c-9da4f715a0ad.png)

[2018-12-13 17:34] navzam opened #697 "Missing typing for DialogContext.prompt()"
## Versions
SDK version: 4.2.0
Node version: 10.5.0

## Describe the bug
This is the only signature available for the `DialogContext.prompt()` method:
[code]

which does not contain the `choices` parameter.

## To Reproduce
Steps to reproduce the behavior:
1. Install `botbuilder-dialogs` and use it according to the docs/samples.
2. Trigger IntelliSense on a `DialogContext` object and observe the o

[2018-12-13 17:45] ryanvolum opened #698 "Breaking dialogs + botbuilder change in 4.2"
## Versions
[code]

## Describe the bug
When using `botbuilder 4.1.5` and downloading the latest `botbuilder-dialogs`, I'm seeing a type mismatch issue on `StatePropertyAccessor`. Upgrading `botbuilder` fixes the issue. I discovered this by using the generator to build a bot last week, and then adding `botbuilder-dialogs` today.

## To Reproduce
Steps to reproduce the behavior:
1. Download 4.1.5 o

[2018-12-14 01:13] NoDirective commented on #686
Here is in the web browers (teams.microsoft.com)

![image](https://user-images.githubusercontent.com/44224924/49977248-ea84b180-ff88-11e8-943a-f15ddd6ec8d4.png)

![image](https://user-images.githubusercontent.com/44224924/49977258-f5d7dd00-ff88-11e8-8f71-92240f75d80a.png)

[2018-12-15 00:31] dmvtech commented on #641
Hi @ivarkallejarv  Sorry for the delay. We've been able to reproduce what you are seeing and working to see if we can come up with any other approaches to accomplish the goal. Thanks for your patience.

[2018-12-16 10:16] bezysoftware opened #699 "Cortana OAuth prompts to copy magic code"
## Versions
What package version of the SDK are you using - 4.2.0
What nodejs version are you using - 6.11.5
What browser version are you using ???
What os are you using Windows 10

## Describe the bug
I wrote a bot and tested it in the Emulator. First step is to authenticate the user - I used the pieces from this sample: https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/javascri

[2018-12-16 14:48] shmuelgutman commented on #635
@CoHealer, do you know for sure that the IDs for update or delete activities are the same as the original activity? or maybe they're considered as different activities (with just a reference to the original activity)?
It's very interesting to know how directline-api handling it...

[2018-12-16 15:04] shmuelgutman opened #700 "TranscriptLoggerMiddleware maybe architecture issue?"
TranscriptLoggerMiddleware is holding the class property `private transcript: Activity[] = [];` at application-wide level (not per context/turn), imagine that my bot instance is getting a lot of concurrency connections(messages), in this case, the transcript array can be  blown up, and more than that, a single turn may be need to be a "slave" of other connections and handle their activities loggin

[2018-12-16 22:35] weiligao opened #702 "[Feature Request] CardFactory does not support AdaptiveCards v1.1"
BotBuilder JS SDK 4 CardFactory does not yet support AdaptiveCards v1.1 that has been published since Oct. 16. Is this planned for the feature, and if yes, when?

Possible workaround using AdaptiveCards npm package and Puppeteer, but requires a hack:
https://github.com/Microsoft/AdaptiveCards/issues/1012
https://github.com/Microsoft/AdaptiveCards/issues/1274
https://runkit.com/rcasto/adaptive-card

[2018-12-17 20:05] andersponders commented on #515
@shmuelgutman I'd like to echo shmuelgutman in asking if ActivityPrompt really needs to be an abstract class. Rest of you have thoughts on this? Right now im extending it with no real extended functionality solely because its marked as abstract

[2018-12-18 00:44] #694 closed

[2018-12-18 15:15] stevkan commented on #699
@bezysoftware, I was able to repro your circumstances and you are right in that you can't copy/paste the code. However, if you copy the code down you can enter the code as a new command to the bot. It's not a perfect option, but it will work. Follow these steps:

1. Open Cortana and connect to your bot ("tell [bot] hi")
2. Click login option
3. Write down magic code from window
4. Open Cortana and

[2018-12-18 15:22] bezysoftware commented on #699
Thanks for looking into this. I will try the suggested workaround, but a regular user cannot be expected to use this approach.

[2018-12-18 15:31] bezysoftware commented on #699
I tried your approach and it works - but only if I invoke Cortana via voice. At that point I actually don't have to reconnect to the bot, I can just "respond" with the code.

If I type the command, after closing the login dialog, Cortana disconnects from the bot completely and reconnecting to it resets the conversion, at which points sending the magic code doesn't work (my guess is activity.type b

[2018-12-18 19:48] stevkan commented on #699
I completely agree with you re: user expectations which is why I'll be flagging this as a bug. It's interesting that it only responds to you via voice as well as disconnecting. As you point out, it could be related to your specific code. I was testing with a very simple bot.

[2018-12-18 20:50] andersponders opened #703 "change ActivityPrompt class declaration (remove the 'abstract' modifier)"
**Is your feature request related to a problem? Please describe.**
I think the "abstract" identifier on ActivityPrompt in botbuilder-dialogs should be removed - I would like to use it (/am currently using it) without having a need for extending the actual class.

It is already special in that it reuqires a validator to be passed - I would recommend *either* requiring the validator *or* making it a

[2018-12-18 20:51] jwiley84 commented on #686
Hi @NoDirective! What OS and browser are you using?

[2018-12-19 01:20] NoDirective commented on #686
window10 chrome 71.0.3578.98（Official Build） （64 ビット）

[2018-12-19 10:51] ivarkallejarv commented on #641
@dmvtech I'll take a look during the weekend and try to migrate to v4 then, thank you for the example

[2018-12-24 17:18] ivarkallejarv commented on #641
@dmvtech Thanks again, got it.
So for anyone who might have a similar problem =>
Apparently I missed the saveContext part
``
  await this.adapter.continueConversation(this.reference, async (proactiveTurnContext) => {
    const otherDialogContext = await this.dialogs.createContext(proactiveTurnContext)
    await otherDialogContext.beginDialog(DIALOG)
    await this.conversationState.saveChanges(pro

[2018-12-24 17:18] #641 closed

[2018-12-24 21:01] #699 closed

[2018-12-24 22:38] nurih opened #705 "botState assigns '*' unconditionally, preventing storage implementation from using eTag"
## Versions
| Item | Version |
|--- |--- |
|botbuilder | 4.2.0|
|nodejs | 10.4 |
|browser | N/A|
| os | win |

## Describe the bug
[`botState.saveChanges(...)` assigns '*' to the eTag ](https://github.com/Microsoft/botbuilder-js/blob/4589b5bdd7e7f450f1455c62401aec9bff409ce7/libraries/botbuilder-core/src/botState.ts#L119
) on state, implying forced overwrite of existing stored state unconditionally

[2018-12-25 07:39] bezysoftware commented on #699
Was this resolved?

[2018-12-26 14:32] Ric01 commented on #621
Typing indicator is a very important feature for improving ux experience. SDKv3 was way easier than SDKv4, i couldnt make it work for SDKv4. Saw some examples for the dotnet sdk but none for javascript. Love to hear improvements on this topic

[2018-12-26 14:47] Ric01 commented on #621
Recently checked the documentation and find out about the SendActivities method.
Tried it and it worked!, in case someone writing on javascript runs with the same issue.

await context.sendActivities([
     *    { type: 'typing' },
     *    { type: 'delay', value: 2000 },
     *    { type: 'message', text: 'Hello... How are you?' }
     * ]);

[2018-12-27 21:01] GasparAcevedoZainSouthworks opened #706 "[Feature Request] Update azure-storage-js to v10"
A new version of `azure/storage-js` ([v10.3.0](https://github.com/Azure/azure-storage-js)) has been published with major changes. The project actually uses the [`2.10.2`](https://github.com/azure/azure-storage-node#microsoft-azure-storage-sdk-for-nodejs-and-javascript-for-browsers) version, which differences with the new one are that it has only one package which includes the implementation of `bl

[2018-12-28 20:10] CoHealer commented on #686
@jwiley84 , please engage Teams to confirm support for this scenario in the web browser.

[2018-12-28 20:12] CoHealer commented on #671
@stevkan, what are next steps?

[2018-12-29 01:40] stevkan commented on #671
@ghost1996110, apologies for the delay in responding.

'conversationData' is empty until you populate it with a value/values. This is done as part of the dialog you want to capture. Once populated you will see data in your logger. Keep in mind that 'conversationData' is an array so your logger will only print [Object Object]. In the example below, I assign the results.response.entity to session.co

[2018-12-29 01:40] #671 closed

[2019-01-02 04:26] ryanvolum opened #710 "ComponentDialog initialDialogID property causes confusing behavior"
## Versions
botbuilder version: "botbuilder": "^4.2.0",
node version: v10.13
OS: Windows

## Describe the bug
When using component dialogs, I found that my dialogs would only start if I set `this.initialDialogId` to the dialogId passed in:
[code]

It was unclear why I had to do this, as it isn't documented anywhere (see [doc bug](https://github.com/MicrosoftDocs/bot-docs/issues/673). Digging furth

[2019-01-04 22:27] bw-kforce-ms opened #711 "retrySpeak (v3) or retryPrompt don't work as documentated on Cortana channels"
## Versions
What package version of the SDK are you using. 4.2
What nodejs version are you using 8.1.1
What browser version are you using n/a
What os are you using w10

## Describe the bug
https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-cortana-skill?view=azure-bot-service-3.0

It looks like retrySpeak is no longer supported in V4 of botframework within prompts, and re

[2019-01-05 01:50] bw-kforce-ms commented on #711
From discussions with the product team, this feature was never supported for consumer skills.  So I'm creating a vsto issue for our tech writer to work with the bot service team to update the v3 doc removing retry messaging, and creating a bug against our mobile folks to not reprompt.  (We're pushing the UX to another discussion as it would be a feature request.)

[2019-01-05 01:50] #711 closed

[2019-01-07 18:11] benbrown commented on #685
This should be fixed by #712

[2019-01-07 19:24] blsmith9 opened #713 "ChoicePrompt list style 'suggestedAction' not working in Microsoft Teams"
## Versions
What package version of the SDK are you using. - 4.1.5
What nodejs version are you using - 10.14.1
What os are you using - Windows 10

## Describe the bug
Give a clear and concise description of what the bug is.
When creating a new ChoicePrompt and setting the list style to suggestedAction, the choices are not visible in Microsoft Teams. When the list style is set to auto, inline, or l

[2019-01-08 15:56] qpongo opened #714 "Can't send proactive messages to a channel until there's been some activity on this channel (from any user)"
I am unable to send proactive messages to a channel that I have not yet communicated with **_(during this run)_**.

**REPRO:**
1. start my bot written in C# or JS (JS for this example) - V4, latest release
2. try to send a new message to a Skype user for which I've already saved the reference activity information via **createRefferenceActivity()**
3. example code:
`
const reference = JSON.parse('{

[2019-01-08 19:36] mdrichardson commented on #714
I think I understand your problem. If so....

This is because the bot doesn't know that a user has joined the conversation until the user first sends a message. The bot sends ConversationUpdate when the conversation is created, but the user's ConversationUpdate isn't sent until they send a message.

This is by design to prevent spam. The only channel where proactive messages work without the user

[2019-01-08 23:07] CoHealer commented on #686
Resolving as no repro, last response 3 weeks ago.

[2019-01-08 23:07] #686 closed

[2019-01-09 00:07] v-kydela commented on #713
Hello @blsmith9

Microsoft Teams does not support suggested actions. This can be seen in the [Channel Inspector](https://docs.botframework.com/en-us/channel-inspector/channels/Teams?f=SuggestedActions&e=example1), the [source code](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-dialogs/src/choices/channel.ts#L30), and [this post](https://microsoftteams.uservoice.com/fo

[2019-01-09 00:07] #713 closed

[2019-01-09 08:42] NoDirective opened #716 "skype for business not work well"
##
"botbuilder": "^4.2.0"
node.js 10.10
OS:azure app service linux

## Describe the bug
Bot does not work well in Skype for business ,
but work well in web chat  , teams.

In webchat
![image](https://user-images.githubusercontent.com/44224924/50887080-8e9d3380-1435-11e9-94f1-f8c5351fd4a7.png)

In Skype for business
![image](https://user-images.githubusercontent.com/44224924/50887123-ae345c00-1435-

[2019-01-09 15:40] justinwilaby opened #717 "[Botframework-Connector] Proxy Settings are Ignored"
Currently, the botframework-connector package ignores HTTP_PROXY and HTTPS_PROXY environment variables and will not work for networks that require a proxy. There are a number of tools that depend on this package and each of them are broken for customers that require the use of a proxy.

## Repro
1. Set the HTTP_PROXY and HTTPS_PROXY environment variables in your node project to a proxy url.
2. ini

[2019-01-10 18:12] qpongo commented on #714
Yes, this is a different problem.

**### After restarting, I can't send a proactive message to users that I've previously communicated with (until there has been some activity on the channel).**

REPRO:
0. Bot is restarted
1. Bill chats with my bot in Skype  [Everything is happy - reference saved via createRefferenceActivity()]
2. Sally chats with my bot in Skype  [Everything is happy - reference

[2019-01-10 18:21] qpongo commented on #714
More info -- it feels like something is happening or not happening with the bot framework connector magic which I haven't seen the source code to.  It feels like this service never gets hooked up or started until some message comes from Skype, Facebook, Telegram, Kik, etc.

Maybe there's something that I need to do at start-up to say that I'm alive?

[2019-01-10 22:40] mdrichardson commented on #714
I'm still leaning towards it being a `conversationUpdate` issue, but if not, it's likely something state-related.

Can you share the following code snippets:

- Code related to memory/storage in index.ts
- Any code using state accessors in the rest of your bot
- Your createRefference() code

And for clarification, is this bot deployed or are you testing locally?

[2019-01-11 00:52] #716 closed

[2019-01-11 16:07] qpongo commented on #714
_Bot is in production and has been running for a year on 4 platforms -- ported recently to JS from C#._

index.js -- nothing special here that I can see
[code]

REPRO#3 - even with emulator
1. start JS bot
2. load Bot Framework Emulator
3. Click Restart Conversation button in Emulator
-----> debug log shows "conversationUpdate" << context.activity.type
4. stop JS bot
5. restart JS bot
6. type "hel

[2019-01-11 16:22] mdrichardson commented on #714
I'll be working on your issue throughout the day. In the meantime, to answer your last question, the equivalent repo/library can be found here:

[microsoftAppCredentials.ts](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botframework-connector/src/auth/microsoftAppCredentials.ts)

[2019-01-11 17:42] qpongo commented on #714
*FIXED!*

Call this before starting and everything is good to go.

[code]

[2019-01-11 18:39] mdrichardson commented on #714
Glad you got it working! I'll work on getting it added to samples and documentation.

[2019-01-11 18:39] #714 closed

[2019-01-11 19:03] stevengum commented on #697
@stevkan can you take a look at this? Let me know if you have any questions.

[2019-01-11 19:04] stevengum commented on #665
## Additional Notes
- The `addUserAgentInfo()` is no longer a method on the `ServiceClient` class, which means we'll have to adjust how we add SDK information to the User-Agent header. [[Relevant commit and line]](https://github.com/Azure/ms-rest-js/commit/523b891b4de679542f725a96b8c896432b44ecc4#diff-3b5c4e8e88ea4820a88a9584a654fe8cL144)
    - If we decide to also bump the `luis-apis` and `qnamak

[2019-01-11 19:18] gasper-az opened #720 "[Feature Request] Bot Framework Publish validation for JS"
It would be very useful to implement a tool which validates the bot's configuration prior to publishing it, for preventing common issues like missing endpoints.

There is a similar tool which is being implemented in BotBuilder-Dotnet (more info [here](https://github.com/Microsoft/botbuilder-dotnet/pull/1262)), which validates, before a publish operation, if  the `.bot` file exists; if the `.csproj

[2019-01-11 21:00] benbrown commented on #608
I just checked the status of @carlosscastro's tickets, and both are closed and marked as essentially wontfix.

However, we should be able to fix this by updating our version of `request`

[2019-01-14 22:21] stevengum commented on #665
Update: @tomlm to do a quick investigation

[2019-01-15 03:42] #665 closed

[2019-01-16 21:32] sgellock commented on #710
making any change here will be breaking.  @Stevenic to drive

[2019-01-16 21:36] stevengum commented on #710
See Microsoft/botbuilder-dotnet#905

[2019-01-16 21:42] sgellock commented on #705
This is by design.  @Kaiqb can you provide a link to our state docs

[2019-01-16 21:47] Kaiqb commented on #705
Here is the [link](https://review.docs.microsoft.com/en-us/azure/bot-service/bot-builder-custom-storage?branch=live&view=azure-bot-service-4.0) to the doc.

[2019-01-16 21:47] #705 closed

[2019-01-16 21:52] sgellock commented on #698
botbuilder-dialogs only has a dependency on botbuilder-core.

[2019-01-17 00:12] #700 closed

[2019-01-17 00:12] tomlm commented on #700
Thanks for the bug report, it's been fixed and will be in the next release.

[2019-01-17 16:47] ryanvolum commented on #698
Roger that - I do think this is likely to trip people up, as it's not inconceivable that developers will get started with `botbuilder` and add (a newer version of) `botbuilder-dialogs` or other `botbuilder` peripheral packages. I'm not sure if there's a good way to communicate to the community that all `botbuilder` packages should always be on the same major version - this may just be a known trip

[2019-01-17 22:22] stevengum commented on #698
Are there any built-in checks in npm to look for for these version mismatches? Specifically botbuilder-dialogs@4.2.0 requires `"botbuilder-core": "~4.2.0"`. (We started [pinning to patch versions](https://github.com/Microsoft/botbuilder-js/pull/656) on the path to 4.2)

As you indicated, there probably isn't a good way to communicate to the community that botbuilder packages should be used by `Maj

[2019-01-18 01:40] sgellock commented on #702
@compulim can comment further if necessary.  WebChat 4.2.0 does include adaptivecards 1.0.0.  WebChat has been bumped to 1.1.x on master but not published yet due to breaking changes.  We are tracking to release this update as part of our 4.3 release

[2019-01-18 23:13] #697 closed

[2019-01-22 14:44] jovanmilenkoski opened #726 "ShowTypingMiddleware suppresses errors and does not allow adapter.onTurnError to handle them"
## Versions
What package version of the SDK are you using.
4.2.0
What nodejs version are you using
8.11.1
What browser version are you using
N/A
What os are you using
MacOS

## Describe the bug
I have a onTurnError handler and ShowTypingMiddleware attached to the botframework adapter.
[code]
I've done some "digging" in the source code and found out this line
[code]
which just stops the interval in

[2019-01-22 22:11] stevengum commented on #620
Additionally, it looks like there are some Node.js libraries like `html-entities` that would need to be replaced.

[2019-01-23 00:39] Zerryth opened #727 "tslint doesn't lint botbuilder-js repo"
## Versions
4.2.0

## Describe the bug
Running command `npm run tslint` (or more specifically `tslint ./libraries/*/src/*.ts ./libraries/*/src/**/*.ts  -t verbose`) from botbuilder-js root

results in:
`No valid rules have been specified for TypeScript files`

## Expected behavior
For linting rules to run

## Screenshots
From travis:
![image](https://user-images.githubusercontent.com/35248895/5157

[2019-01-23 21:53] sgellock commented on #726
This is by design.  @johnataylor please add additional context and reasoning

[2019-01-24 00:57] stevengum opened #728 "Move from TSLint to ESLint"
We should consider moving to ESLint as the TypeScript team is going to stop supporting [TSLint](https://github.com/Microsoft/TypeScript/issues/29288).

[bug/enhancement]

[2019-01-24 20:53] Ceridan opened #729 "Proposal: Add new interface which extends storage interface with query() and count() methods"
[Storage](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/storage.ts) interface with `write`, `read` and `delete` methods is enough for work with conversation state or user state, but when you need to get some statistics about your users - it is useless.
I use [CosmosDbStorage](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-azure/sr

[2019-01-25 17:54] #684 closed

[2019-01-25 17:55] stevengum commented on #676
@Zerryth, I'm assuming this work is done in your dotnet PR and am going to close this issue. If it's not addressed there please either address it in that PR or file a new tracking issue in the dotnet repo so we don't drop the ball on this.

[2019-01-25 17:55] #676 closed

[2019-01-25 17:59] stevengum commented on #727
To clarify on this, @Zerryth is going to _reenable_ tslint, because we've been checking code that hasn't been going through the linting process.

For her PR #704 that addressed some ongoing issues with QnAMaker, she will go back in another PR and lint that class after TSLint is back online.

[2019-01-25 18:01] stevengum commented on #554
@Zerryth since you've been working in both SDKs, can you comment on the status of the diffs between implementation in both languages?

[2019-01-25 19:01] mdrichardson commented on #729
How do you foresee getting user stats? The issue I see with this is that if this resides in the bot code, any user communicating with the bot would be able to use the `query` and `count` methods. Be aware that if any user can query and count, it may raise privacy issues, depending what data you store. If this is your use case, please [open a new issue in the BotBuilder repo](https://github.com/Mic

[2019-01-25 19:45] Zerryth commented on #554
**As of now, both sides of QnAMaker largely mirror each other.**   :thumbsup:
___
* PR https://github.com/Microsoft/botbuilder-js/pull/704 caught the JS side up and narrowed the discrepancies Chris originally posted about

* Once the additions on the dotnet side of QnAMaker class get merged from [PR 1288](https://github.com/Microsoft/botbuilder-dotnet/pull/1288), these are the main differences tha

[2019-01-25 20:47] stevengum commented on #554
This is fine, I don't see a reason to mirror the .NET side for this.

For ii, do we have the same test cases covered on both sides? If so then I'm fine with resolving this issue.

From Chris:

I don't quite see the need to introduce one/two more packages in JS just to mirror the .NET side. But perhaps I don't have a complete understanding of the situation.

For Python and Java, the implementations

[2019-01-25 21:06] Zerryth commented on #554
@stevengum Yup! Tests cover both sides ✔️

[2019-01-25 21:46] sgellock commented on #729
Thank you for the suggestion.  We're not going to implement this.

[2019-01-25 21:46] #729 closed

[2019-01-28 21:15] benbrown commented on #462
@cleemullins can you talk to southworks about taking this on?

[2019-01-28 21:18] benbrown commented on #727
We will re-enable the linter the day after 4.3 ships!

[2019-01-29 07:11] shmuelgutman commented on #700
Great. Thanks.

[2019-01-29 21:19] garypretty opened #733 "Channels list missing Skype for Business"
## Describe the bug
Raising this as requested by @cleemullins to track against a recent fix on the .Net side to add Skype for Business to the list of available channels.  This was reported on the .Net side in issue (#1255)[https://github.com/Microsoft/botbuilder-dotnet/issues/1255] and resolved with PR (#1319)[https://github.com/Microsoft/botbuilder-dotnet/pull/1319] .  This PR also made changes t

[2019-01-29 21:40] johnataylor commented on #726
This behavior is by design.

A typing indicator is just a visual hint to the user sent across the channel and not part of the core bot logic. No business logic is impact if the message (the typing activity) is dropped.

The scenario for using the error handler is when something like state changes fail or perhaps a call to a back end service or something like that that would impact the bots busines

[2019-01-29 21:57] hinojosachapel commented on #621
Great! Thanks! Your solution worked for me, though I introduced a little modification:

async sendTyping(context) {
&nbsp;&nbsp;&nbsp;&nbsp;await context.sendActivities([
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ type: 'typing' },
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ type: 'delay', value: 2000 }
&nbsp;&nbsp;&nbsp;&nbsp;]);
}

[2019-01-29 22:11] codefoster opened #734 "Not clear which Azure resource to use when searching for "bot""
## Versions
Not an SDK issue. This bug relates to Azure.

## Describe the bug
In the Azure web portal, when you attempt to search for resources using the search term "bot", it's very unclear to average developers which of the results to choose. Not only are there WebApp bots and registration bots, but there are a lot of other resource types mixed in there.

## To Reproduce
Steps to reproduce the b

[2019-01-29 22:38] johnataylor commented on #706
The Azure/* packages are a complete API change. They are essentially v1 of a new client. There is no urgency to jump on this for this milestone. Moving to 4.4.

[2019-01-29 22:46] johnataylor commented on #710
Thanks for opening this issue, unfortunately this would be a breaking change to the API. The current default behavior seems pretty intuitive, to the degree that its hard to imagine an alternative. And the explicit override of the behavior seems pretty discoverable. If you think this needs more clarification in docs and samples please go ahead and open issues there.

[2019-01-29 22:46] #710 closed

[2019-01-29 23:04] johnataylor commented on #681
It is a core design tenent of the 4.0 framework that information is uniformly shared to all the components that are invoked within a turn of conversation using the TurnContext.

Certainly this design choice has implications and in many ways you might see the TurnContext as something of a [god object](https://en.wikipedia.org/wiki/God_object). But this is the design and it is consistently applied.

[2019-01-29 23:04] #681 closed

[2019-01-29 23:10] johnataylor commented on #328
We should be moving to the Azure/* packages. However, they imply a major rev of our implementation as the code can be quite different now. In addition these new packages are essential v1 for the new client. The documentation and samples are not all there. Moving this to the next milestone. (We also want to do more significant work around state in the next milestone too.)

[2019-01-30 15:58] mdrichardson commented on #328
I've got [a working implementation](https://github.com/mdrichardson/botbuilder-js/blob/cosmosPull/libraries/botbuilder-azure/src/cosmosDbStorage.ts) in Node with written and passing tests. It was 90% written before I came across the above design guidelines, but I think it still matches the intent. I'm hoping to get to a dotnet/C# version, but I'm still new to C# and am busy working on support tick

[2019-01-30 16:32] Zerryth commented on #682
:eyes:

[2019-01-30 17:32] mdrichardson commented on #328
@stevengum I spoke with @cleemullins about this a week or so ago and his guidance was more or less to have a C# version ready first. I posted this here (and elsewhere) just to make sure it was visible to you guys so we don't need to duplicate effort.

I can still open a PR, if you'd like.

[2019-01-30 17:38] stevengum commented on #328
If that was his guidance, let's hold off on the PRs for now until a matching implementation is done in C#. @cleemullins and @johnataylor will have stronger opinions on the final implementation, and maybe @daveta can chime in as well. Thanks for the heads up and initiative!

[2019-01-30 17:49] Zerryth commented on #682
@ryanvolum I'm not finding the lack of correct Intellisense as you've described.

I do notice that you're using an older version `4.1.5`, however when you clone the samples today, they actually point to `botbuilder-ai 4.2.0`.

![image](https://user-images.githubusercontent.com/35248895/52001302-edbdf900-2473-11e9-920a-614403423056.png)

Try recloning the samples and so in turn when you `npm i` eve

[2019-01-30 17:59] stevengum commented on #328
@mdrichardson, I took a _very_ cursory glance at your branch and one thing that stood out is the following code under [`CosmosDbStorage.delete()`](https://github.com/mdrichardson/botbuilder-js/blob/c6e00b989fcfe030ddf9c92d1711d81a965fb8f7/libraries/botbuilder-azure/src/cosmosDbStorage.ts#L279-L284):

[code]

This doesn't seem like the right behavior; if the document doesn't exist, then the bot's k

[2019-01-30 18:02] mdrichardson commented on #328
@stevengum That's a good catch. I'll look over it and do some more testing. While I was trying to get the partitionKey/partitionValue system figured out, I recall I'd see documents be deleted and still get a 404 error. Now that I've got the key/value figured out, I'll do some testing and commit/push if a change is needed.

[2019-01-30 20:28] garypretty opened #736 "Introduce Card support for Prompts and have Teams / Cortana fallback"
## Describe the bug
Raising issue here to ensure change on the .NET side to introduce Card based prompts and for Teams / Cortana (which don't support suggested actions) to automatically fall back to use this style.

PR in the .NET repo https://github.com/Microsoft/botbuilder-dotnet/pull/1339
[bug]

[2019-01-30 21:29] Stevenic opened #737 "Add new HeroCard prompt style to ChoiceFactory"
We need to add a HeroCard option to ChoiceFactory to bring us to parity with [this PR](https://github.com/Microsoft/botbuilder-dotnet/pull/1339) on the C# side of things.

[enhancement]

[2019-01-30 21:32] garypretty commented on #736
Closing as duplicate of #737 raised by @cleemullins

[2019-01-30 21:32] #736 closed

[2019-01-30 21:32] Stevenic commented on #736
Didn't see you had added this sorry...

[2019-01-30 21:35] sgellock commented on #737
@Stevenic can you do the JS implementation or find a capable engineer?

[2019-01-30 23:31] mdrichardson commented on #328
@stevengum

I found out why I originally didn't throw for the 404 errors on delete. The [current tests say it shouldn't throw](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-azure/tests/cosmosDbStorage.test.js#L174) and the [current implementation doesn't throw](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-azure/src/cosmosDbStorage.ts#L24

[2019-01-31 11:54] parag-nikhal opened #739 "IntentDialog in SDKv4"
IntentDialog class is not in SDK v4 is there any subtitution for this ?

[2019-01-31 16:04] watadarkstar opened #740 "v4.2.0 has Regular Expression Denial of Service vulnerability"
## Versions
"botbuilder": "^4.2.0",
"botbuilder-azure": "^4.2.0",
"node": v8.15.0

## Describe the bug
v4.2.0 has Regular Expression Denial of Service vulnerability. See below:

[code]

## To Reproduce
Run with a package.json with botbuilder-azure @ 4.2.0:
[code]

## Expected behavior
No vulnerabilities

[2019-01-31 16:09] tomlm commented on #634
This is by design.

The reason is that you have components that might not be in sync as to the objects which are stored in the .bot file.  If you run a tool which is older you want to "round-trip" properties which aren't understood (because they are new), or types which aren't understood (because they are new).

[2019-01-31 16:09] #634 closed

[2019-01-31 18:39] Zerryth commented on #682
Closing, as this issue was raised back in early Dec, and it appears to be fixed as of late Jan

[2019-01-31 19:06] kichinsky opened #742 "The matching algorithm in findValues.ts calculates wrong scoring."
## Versions
BF 4.2, Typescript

## Describe the bug
The algorithm implemented in the [findValues.ts](https://github.com/Microsoft/botbuilder-js/blob/d4255c382189476dff5cc0879ec8d2f29b1162ce/libraries/botbuilder-dialogs/src/choices/findValues.ts) ignores any leading words when calculating the distance, that might be not expected behaviour. It computes the distance only between tokens in the choice

[2019-01-31 19:45] benbrown commented on #632
Seems like switching to UMD breaks dependencies, as Node can't import UMD style modules, so fails to compile.

@justinwilaby suggests that we might be able to compile _both_ styles, allowing es6 users to pull in the more modern version. however, this would require a pretty substantial change and would probably be breaking.

[2019-01-31 19:49] #655 closed

[2019-01-31 19:53] benbrown commented on #632
Looks like we won't be able to do this now without substantial changes.  Closing this ticket.

[2019-01-31 19:53] #632 closed

[2019-01-31 20:08] benbrown commented on #740
I cannot reproduce this.  Looks like sshpk was updated within the last few days resolving this issue.

[2019-01-31 20:09] benbrown commented on #740
@watadarkstar Can you do a fresh npm install to see if you are you still experiencing this issue?

[2019-01-31 20:20] benbrown commented on #680
This field is not used in any of our modules or in any of the samples.

@stevenic - can you shed some light on how this is supposed to be used?  Or maybe it should be deprecated?

[2019-01-31 21:53] cleemullins commented on #303
Pushing to 4.4, as we'll be updating the CosmosDB stuff at that time.

[2019-01-31 21:54] ryanvolum commented on #710
We've had several developers trip over this. I think they find it weird that they need to explicitly set a property - when polling devs on whether they'd rather have an method that sets it they've said yes. Would adding an method on ComponentDialogs still be a breaking change?

[2019-02-01 19:04] kichinsky opened #745 "Make a consistent and strict usage of tslint/eslint across bot framework, samples and generators"
**Is your feature request related to a problem? Please describe.**
The usage of linting tools and applied rules is not consistent across the bot framework, generators and samples. It would be helpful from code quality and coding experience perspectives to have one shared approach everywhere.

E.g., the echobot generator enforces using single quotes!

**Describe the solution you'd like**
Setup some

[2019-02-01 20:29] codefoster opened #746 "Portal link takes you to the old deployment config screen"
## Versions
What package version of the SDK are you using. 4.2
What nodejs version are you using 11
What browser version are you using Edge
What os are you using Win10

## Describe the bug
This is actually an Azure Portal issue, but I was encouraged to submit here for visibility.
When following the links to setup continuous deployment in a Bot Service in Azure, the links take you to the deprecated

[2019-02-01 20:32] TobiahZ opened #747 "return a sendActivity() from a dialog"
## Versions
BotBuilder 4.2.0

## Describe the bug
In Type Script, we cannot return a step.context.sendActivity('...') due to an invalid return type.

Specifically, sendActivity returns a Promise<ResourceResponse> where a Promise<DialogTurnResult<any>> is expected.

## To Reproduce
Within a Dialog, such as a WaterfallDialog, the functions are expected to return a Promise<DialogTurnResult>. Ending t

[2019-02-01 20:33] codefoster opened #748 "Dialogs doesn't allow hierarchical functionality"
## Versions
4.2
## Describe the bug
One of the best things about Bill Barnes' [Topical](https://github.com/billba/topical) library was that topics (dialogs) were configured in a hierarchical fashion - topics had child topics which had child topics. On every turn, a topic was able to determine whether it should handle an activity or delegate to one of its children. I don't see this functionality in

[2019-02-01 20:35] codefoster commented on #748
Realizing that this should have been a feature request. Sorry.

[2019-02-01 20:41] codefoster opened #749 "Inconsistency between user/conversation state and step state"
## Versions
4.2

## Describe the bug
User and conversation state require strong typing. That requirement makes it a bit cumbersome to use. Step state (step values) do not and are implemented as a simple `object`. This makes it very easy to use, but is more difficult to type. I'm honestly not sure which method I like better, but it seems there should be consistency.
To type step values, we ended up

[2019-02-01 21:16] #703 closed

[2019-02-01 21:53] watadarkstar commented on #740
@benbrown that worked when I did a fresh install - thanks!

Solution:
[code]

[2019-02-01 21:53] #740 closed

[2019-02-01 22:02] watadarkstar opened #750 "GetConversationReference and ApplyConversationReference should be on Activity"
In dotnet this already landed here: https://github.com/Microsoft/botbuilder-dotnet/issues/703 but it never made it to javascript.

Quote from @tomlm:

In javascript, we don't have an actual "Activity" class which caused the utility methods of

- GetConversationReference()
- ApplyConversationReference() to be implement as global functions off of TurnContext.

That's the wrong place for them because

[2019-02-04 11:31] serraventura opened #753 "Bot framework (v4) Prompt choice in carousel using HeroCards not going to next step"
## Versions
What package version of the SDK are you using.
"botbuilder": "^4.2.*",
"botbuilder-ai": "^4.2.*",
"botbuilder-dialogs": "^4.2.*",
"botframework-config": "^4.2.*",

What nodejs version are you using
Node: v8.9.4

What browser version are you using
Bot Simulator

What os are you using
OSX - Macbook Pro

## Describe the bug
I’m trying to use HeroCards along with a prompt choice in a carou

[2019-02-04 13:27] mwg2516 opened #769 "There was an error sending this message to your bot: HTTP status code InternalServerError"
Dear all,

I try to make chatbot application with MS Azure, LUIS

my development environment is linux (Azure cloud, ubuntu) and nodejs.

i have tested my application in bot-emulator until now.

but i want to embed my application into web browser.

so i have tried to follow instruction of web embedding.
(in Azure, web app bot - channel menu - obtaining bot embed code)

and i can obtain key value an

[2019-02-04 18:35] navzam commented on #747
I ran into the same issue in JS. Returning `Dialog.EndOfTurn` (which is what `step.prompt()` returns) seems to work, but this isn't documented and I don't know whether it will cause unexpected behaviors deeper in the dialogs library.

[2019-02-05 18:16] cleemullins commented on #720
We added this in PR https://github.com/Microsoft/botbuilder-dotnet/pull/1262 to the C# Repo, as part of the plans around publish validation.

We should either:
1. Add the parity in the JS repo (this Issue)
2. Remove the feature from C#.

The thought behind having it is that it's easy for developers to make the call and figure out what to do. This applies to the VSIX, Templates, and samples. They c

[2019-02-05 19:24] justinwilaby opened #755 "OauthPrompt Fails to Notify Consumer when ConnectionName is invalid"
Affects: `botbuilder-dialogs@4.2.0`

[oauthPrompt.ts:137:0](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-dialogs/src/prompts/oauthPrompt.ts#L137) does not throw when the connectionName is null or invalid which produces an OauthCard with an invalid link as described in https://github.com/Microsoft/BotFramework-Emulator/issues/1268

[2019-02-05 20:31] v-kydela commented on #753
Hello @serraventura - I'm going to see if I can solve your issue on Stack Overflow

[2019-02-05 21:53] mdrichardson commented on #328
Related: https://github.com/Microsoft/BotBuilder/issues/5107

[2019-02-05 23:12] serraventura commented on #753
@v-kydela sorry, yes I meant Emulator.

[2019-02-06 00:02] Kaiqb commented on #746
This is now being tracked internally in our bugs database.

[2019-02-06 00:58] navzam opened #758 "npmjs and myget packages are different"
## Versions
SDK version: 4.2.0
Node version: 10.5.0
npm version: 6.1.0

## Describe the bug
For a given version, the npm packages that are being published on npmjs and myget are different. I've observed this for `botbuilder` and `botframework-config` but I believe it applies to others as well.

## To Reproduce
Steps to reproduce the behavior:
1. Download the `botbuilder v4.2.0` package from npmjs:

[2019-02-06 09:38] stevkan commented on #739
Hi @parag-nikhal, I'm looking into this and will let you know what I find.

[2019-02-06 15:43] benbrown commented on #685
The tenantId field is being moved to a new location as part of the fix to this issue:
https://github.com/Microsoft/botframework-obi/pull/43

[2019-02-07 17:30] carlosscastro commented on #608
Thanks @benbrown yes they weren't motivated enough. I'll try updating tomorrow verify that it fixes it.

[2019-02-07 18:46] stevkan commented on #739
@parag-nikhal, there is an equivalent to IntentDialog being developed to be included in a future build. Unfortunately, at this time there is no substitution.

[2019-02-07 18:46] #739 closed

[2019-02-08 16:44] sgellock commented on #504
This issue is a duplicate of https://github.com/Microsoft/botbuilder-dotnet/issues/999.  If that ticket is approved, then a master tracking ticket in botbuilder should be opened to track the various language work

[2019-02-08 16:44] #504 closed

[2019-02-08 21:21] Stevenic opened #761 "A readme.md file is needed describing the steps for re-generating clients from swagger"
We should add a readme.md to the `libraries\swagger` directory describing the exact steps from end-end that's needed to regenerate the connector client and schema from swagger.  We should probably do something similar in the `libraries\botbuilder-ai` directory.  It's not clear where we need to get the swagger files from.

[enhancement]

[2019-02-08 21:30] Stevenic opened #762 "libraries\swagger\generateClient.sh out of sync with generateClient.cmd"
This makes it difficult to re-gen swagger clients from macs.

[bug]

[2019-02-08 23:11] sgellock commented on #762
PR #763 addresses this Issue

From: Steven Ickman <notifications@github.com>
Reply-To: Microsoft/botbuilder-js <reply@reply.github.com>
Date: Friday, February 8, 2019 at 1:33 PM
To: Microsoft/botbuilder-js <botbuilder-js@noreply.github.com>
Cc: Scott Gellock <Scott.Gellock@microsoft.com>, Assign <assign@noreply.github.com>
Subject: Re: [Microsoft/botbuilder-js] librariesswaggergenerateClient.sh ou

[2019-02-08 23:34] sgellock opened #764 "Outdated transcript-test package is causing GitHub warnings"
## Describe the bug
GitHub is flagging outdated dependencies in transcripts/package.json

## Expected behavior
packages should use current package dependencies

[bug]

[2019-02-10 16:00] sgellock commented on #764
resolved with PR #765

[2019-02-10 16:00] #764 closed

[2019-02-11 13:49] justinwilaby opened #768 "FileTranscriptStore erroneously reports a continuationToken when no more items exist"
FileTranscriptStore erroneously reports a continuationToken when the token specified is the *last* item in the series.

## Repro:

1. Add 100 activities to an instance of the `FileTranscriptStore`
2. Call `getTranscriptActivities()` with the previously reported `continuationToken` until the `pagedResult.continuationToken` is null.

**OBSERVE:** 6 iterations are required with the last iteration yie

[2019-02-11 16:22] #762 closed

[2019-02-11 21:49] Stevenic commented on #680
This was added as a way of passing through additional validation rules to a custom validator.  For instance you might want to pass a `minLength` value through to the validator routine.  We could update our samples to show this.

[2019-02-11 22:07] sgellock commented on #769
this isn't really a product bug, it's more likely than not an issue in the customer's bot code.  Support team, can you help?

[2019-02-11 22:49] #755 closed

[2019-02-12 02:48] EricDahlvang commented on #769
Hi @mwg2516

The repo at github.com/mwg2516/chatbot-pro is private. Please make it public, so we can check it out.

[2019-02-12 14:09] #768 closed

[2019-02-12 16:19] justinwilaby commented on #747
The signature for the `DialogTurnResult` includes `result?: T;`. Why isn't this acceptable?
[code]
This should satisfy the typing and allow the promise from `step.context.sendActivity()` to be `await`ed on at some point later

[2019-02-12 16:25] justinwilaby commented on #680
Seems like generics could help here:
[code]

[2019-02-12 17:11] justinwilaby commented on #183
The challenge here is to get both [proxy support](https://github.com/TooTallNate/node-https-proxy-agent) and keep-alive working together. It seems that now you can have just one or the other.

[2019-02-12 17:47] TobiahZ commented on #747
Another example of an error in TypeScript when doing a `return step.context.sendActivity('...')`

![captureconvo](https://user-images.githubusercontent.com/4392252/52656406-249c0200-2eab-11e9-9d45-71052376363d.PNG)

Still am unable to successfully `return step.context.sendActivity('...')` in typescript

[2019-02-12 20:40] chrimc62 opened #774 "Lerna is a dependency but is not installed automatically nor listed in documentation"
## Describe the bug
If you sync the SDK and do 'npm install' it will complain about lerna not being there.  Either install should work or it should be documented you need to install it.

[bug]

[2019-02-12 22:57] johnataylor commented on #747
The idea is that the canonical **Waterfall** is a chain of **Prompts**. The step of the **Waterfall** being offset from the prompting behavior in the sense that you start a **Prompt** from one step and then receive the response in the following step. The progress through the series of Prompts reflects a series of _exchanges_ question/answer style with the user.

Using the **Send** function, you ar

[2019-02-12 22:57] #747 closed

[2019-02-13 16:41] sgellock commented on #746
@codefoster I spoke with the portal team and they are tracking to have this fixed for their next deployment.  Right now, it looks like that deployment is scheduled on or about 2/21.

[2019-02-13 16:41] #746 closed

[2019-02-13 18:22] #737 closed

[2019-02-13 21:40] sgellock commented on #685
PR #1274 addresses this issue.  Will exist in the 4.3 release

[2019-02-13 21:40] #685 closed

[2019-02-13 21:45] sgellock commented on #621
We've talked this over, and I don't see us adding this, given the view lines of code above to implement the behavior.

[2019-02-13 21:45] #621 closed

[2019-02-13 22:24] CoHealer commented on #769
@mwg2516, do you still require assistance?

[2019-02-14 18:12] cleemullins commented on #758
This is a surprise. I would also expect those files to be exactly the same. Given how we push these packages, which is by actually uploading the MyGet one to Npmjs with no human touch, I'm additionally surprised.

This appears to be a muliti-year old NPM bug, as seen here:
https://github.com/npm/npm/issues/18545

From that bug, the issue appears to be:

[2019-02-14 18:19] carlosscastro commented on #608
Since we upgraded to request 2.88 this problem is gone.

[2019-02-14 18:19] #608 closed

[2019-02-14 18:22] cleemullins commented on #758
I'm still digging.
https://github.com/npm/npm/issues/17161

It seems like we can fix this with the right .gitattributes file, so that any edited .json files have CRLF at the end. Checking on that now.

[2019-02-14 18:57] cleemullins commented on #758
I've updated the .gitattributes to properly set EOF markers in package.json files. I don't know if this will fix the issue here.

Given this only impacts folks using both MyGet and NPMJS, I don't think this is something we need to fix at this time.

I propose we close this as "Won't fix".

[2019-02-14 19:32] navzam commented on #758
Agreed that the number of people affected is likely small, but I think it's still a severe issue to publish different packages. Are there any other processes running between the publish to myget and the publish to npmjs?

[2019-02-14 22:09] cleemullins commented on #758
Still digging.

I wrote this Powershell script to check all the packages for all the current versions:

[code]

That script tells us, EVERYTHING is different:
[code]

[2019-02-14 22:50] Stevenic commented on #680
So here's a simple text length validation rule that would take advantage of the validation field:

[code]

Then to call it from within a waterfall step you'd use this code:

[code]

[2019-02-14 22:51] Stevenic commented on #680
@Kaiqb can you please add this to the list of things needed documentation or samples?  Feel free to use the code snippets above.

[2019-02-14 23:13] v-kydela commented on #753
I'm closing this because it's a support issue and is best handled on Stack Overflow or email.

[2019-02-14 23:13] #753 closed

[2019-02-15 01:02] cleemullins opened #777 "botbuilder-ai package has un-necessary files"
Note: Related to #758, but a different problem.

Download the NPM package for botbuilder-ai, from NPMJS.org:
`https://registry.npmjs.org/botbuilder-ai/-/botbuilder-ai-4.2.0.tgz`

Now, untar the file (note: this works on Windows as well):
`tar -xzf botbuilder-ai-4.2.0.tgz`

There are test files that show up in the results:
[code]

These files do not show up during NPM install of the package, but ne

[2019-02-15 01:08] cleemullins opened #778 "Botbuilder Package(s) incorrectly have the "tests" folders in them"
The 4.2.1 BotBuilder Packages contain test data that should not be included. This needs to be fixed in the build and packaging system.

# BotBuilder
![image](https://user-images.githubusercontent.com/1165321/52827683-b86ff880-307a-11e9-8192-52cff57518c8.png)

# Botbuilder.ai
![image](https://user-images.githubusercontent.com/1165321/52827634-7fd01f00-307a-11e9-987a-9cd27dfe6b12.png)

# Botbuilder.

[2019-02-15 01:19] cleemullins commented on #758
I'm still digging. I've file a few bugs for *weird* stuff that's going on, but I still don't know what's causing this.

My script not diffs EVERY FILE in the packages looking for mis-matches. The good new: The only not-matching files (except for the test weirdness, #777, #778) are the package.json files, as seen below.

[code]

The script used to generate this list is:
[code]

[2019-02-15 02:14] cleemullins commented on #758
It seems *VERY* clear that something is unpacking / changing / repacking our npm files during the upload to npmjs.org. We have instances of EVERY package.json having it's final newline character stripped off, and 1 instance (in botbuilder-ai) of 2 unexpected .json files being added into the package on NPMJS.org (and not present on the MyGet server).

From data, I cannot tell if this is MyGet, npmj

[2019-02-15 05:14] stevengum opened #779 "Update LuisRecognizer description after sample reorganization"
## Tracking Issue:
Update LuisRecognizer description after sample reorganization efforts.

The LuisRecognizer currently points to the 12.nlp-with-luis sample which may be renumbered in the upcoming sample work. If it is renumbered, we will need to change the link in the [doc string](https://github.com/Microsoft/botbuilder-js/commit/6acf62fe67533738712b35a155be43626a79741b#diff-d746df635d42aa7e8228

[2019-02-15 17:55] tomstarstuck commented on #777
This is breaking `yarn`. Because of this issue it is impossible to use botbuilder-ai dependency in projects using `yarn`.

I have tested it locally, and removing those extra files solves the problem with `yarn`.

[2019-02-15 23:05] cleemullins opened #783 "JS Build doesn't archive .tgz files to the Build Artifacts"
The Azure Devops build does not add the published packaged into the Artifact directory.

The Artifacts zip file should have the packages as part of the archive.

[2019-02-16 00:59] JonathanFingold opened #785 ".sendActivities is not working within prompt validation"
## Versions
What package version of the SDK are you using: **botbuilder botbuilder-dialogs** 4.2.1.
What nodejs version are you using: **node** v10.14.2, **npm** 6.8.0.
What browser version are you using:...the Emulator? v4.2.1.
What os are you using: Windows 10 x64

## Describe the bug
From within a prompt validator, `sendActivity(x)` works as expected, but `sendActivities([x])` does not,
whether

[2019-02-16 03:49] #777 closed

[2019-02-16 20:44] cleemullins commented on #758
I pulled the Build Logs from Azure Devops for this build, and I have the original "Create" data. From those logs, I see:

When I run "npm view" against the package on MyGet, I get the Expected SHA Sum:
[code]
When I run "npm view" against the package on NPMJS, I get an incorrect value:
[code]
This tells us that the package on MyGet **MATCHES** the output of the build. Knowing that is a good start.

[2019-02-17 03:10] cleemullins commented on #758
I've created [botbuilder-4.3.0-testing-do-not-use](https://fuselabs.visualstudio.com/SDK_v4/_build/results?buildId=49438). That [published to MyGet](https://botbuilder.myget.org/feed/botbuilder-v4-js-daily/package/npm/botbuilder/4.3.0-testing-do-not-use) just fine, and has the correct Hash.

I then MANUALLY publish the tarball to NPMJS.org.
[code]

When I test that, the hash passes.
[code]
[Note:

[2019-02-17 03:25] cleemullins commented on #758
The process of "Push" from MyGet to Npmjs.org is corrupting / changing the files. I have a repo.
The Package that is built has this:
[code]
On botbuilder.myget.org, has this sha hash:
[code]
After "Push" via MyGet, the package is pushed to Npmjs.org, and has the WRONG hash:
[code]

[2019-02-17 03:41] cleemullins commented on #758
Note: I've escalated this to MyGet Enterprise support and am researching alternative publishing approaches.

[2019-02-18 15:53] #778 closed

[2019-02-18 17:50] CoHealer commented on #769
Closing due to inactivity. @mwg2516, please let us know if you still need assistance and we'll re-open.

[2019-02-18 17:50] #769 closed

[2019-02-18 18:52] stevengum opened #786 "Cleanup: Use either async-file or fs-extra in the libraries and tests"
## Versions
What package version of the SDK are you using.  __4.2.x-4.3.x__

## Describe the bug
`async-file` and `fs-extra` are both used in the libraries, and they both do the same thing, so we should reduce down to one package.

In `botbuilder` we use `async-file` for the library and for tests.

In `botframework-config`, the `tools/` folder,  we use `fs-extra` for the library and helper code. `

[2019-02-19 17:48] dfavretto opened #787 "UserToken flow not exposed in BotFrameworkAdapter"
**Is your feature request related to a problem? Please describe.**
The [`BotFrameworkAdapter`](https://github.com/Microsoft/botbuilder-js/blob/4d99d3322391c2f354208d7824fa5ee1881f548d/libraries/botbuilder/src/botFrameworkAdapter.ts) is missing some methods of the [C# version](https://github.com/Microsoft/botbuilder-dotnet/blob/924eaa286fe3cebfaebae27570f504977c8591e9/libraries/Microsoft.Bot.Builde

[2019-02-19 18:59] JonathanFingold commented on #785
Note: this is blocking updates to the docs to address #680.

[2019-02-19 19:14] Kaiqb commented on #680
@Stevenic - can you look at the [issue ](https://github.com/Microsoft/botbuilder-js/issues/785)around sendActivities not working within prompt validate?

[2019-02-21 00:44] jwiley84 opened #788 "LUIS bug in 4.3"
## Versions
SDK 4.3.0 (myget feed)
Node -v 10.15.0

## Describe the bug
When testing the LUIS samples on Botbuilder-samples using the 4.3.0 packages, the following error was encountered:

![image](https://user-images.githubusercontent.com/17333688/53135082-b13f6380-352e-11e9-94f3-79c169ded324.png)

Further digging with Steven showed that the URL that was being formed to make the call to LUIS.ai wa

[2019-02-21 13:26] karthikeyanrj opened #789 "Is there an attachment layout property in SDKv4"
Hi,
I am unable to find any documentation on how to render carousel cards using the v4 framework.
Thanks for your help.

[2019-02-21 17:08] jwiley84 commented on #789
Hi @karthikeyanrj!

The Bot Framework Team prefers that **'How-To'** questions be asked on StackOverflow using the 'botframework' tag [here](https://stackoverflow.com/questions/tagged/botframework).

That being said, feel free to take a look at the BotBuilder-Samples Repo. The repo there contains a JS example of using cards([No.6 Using Cards](https://github.com/Microsoft/BotBuilder-Samples/tree/ma

[2019-02-21 17:08] #789 closed

[2019-02-21 19:10] #788 closed

[2019-02-21 20:53] stevengum opened #793 "Remove "mstranslator" from the botbuilder-ai package."
[`mstranslator`](https://www.npmjs.com/package/mstranslator) was last published over 2 years ago, and is not used anywhere in the botbuilder-ai library.

https://github.com/Microsoft/botbuilder-js/search?q=mstranslator&unscoped_q=mstranslator

We should remove it 😄

[2019-02-21 21:31] stevengum commented on #793
Fixed by #794 against 4.3 and #795 against master.

[2019-02-21 21:39] #793 closed

[2019-02-22 06:52] karthikeyanrj commented on #789
Thank you..Its working..

[2019-02-22 20:01] Aliandi opened #799 "Test description doesn't match test content"
## Describe the bug
One of the [getAadTokens()](https://github.com/Microsoft/botbuilder-js/blob/2c4961fedb9212d5a0a3ec6dc3a2bc2de459141a/libraries/botbuilder/tests/botFrameworkAdapter.test.js#L791) tests description reads:

![imagen](https://user-images.githubusercontent.com/22912283/53262995-ee366200-36b6-11e9-8ed4-42df250e5912.png)

instead of:

![imagen](https://user-images.githubusercontent.co

[2019-02-26 15:47] Aliandi commented on #774
Hey @chrimc62! After reviewing your issue we agreed that lerna should be listed bellow the devDependencies to make working of the SDK a smoother experience. We will add it on the PR #802. Meanwhile, we also found some documentation regarding this topic [here](https://github.com/Microsoft/botbuilder-js/wiki/Building-the-SDK#build-and-test-locally), where lerna is described as required to work with

[2019-02-26 20:13] damadei commented on #183
Guys, any news on this? I'm doing a benchmark with the partner and we are seeing 1/2 of the performance from a Node.js bot compared to a .NET Core one. If somebody can point me where this call is made I could try to implement the change to check if this is the cause of the performance difference I'm seeing and submit a PR.

[2019-02-26 23:36] EricDahlvang commented on #183
Hey @damadei

Thank you for your willingness to help out with this issue. I'd like to work with you it, and I've emailed you offline.

[2019-03-01 00:15] cleemullins commented on #783
This has been fixed, and the .tgz files are now stored in the resulting build artifact.

[2019-03-01 00:15] #783 closed

[2019-03-01 00:17] #799 closed

[2019-03-01 00:29] cleemullins commented on #786
@benbrown, this seems straight forward provided it can be fixed w/o breaking compat. If this is just internal implemenation we're good. If we've exposed these on interfaces, then we should live with what we've got rather than break compat.

[2019-03-01 00:35] cleemullins commented on #758
We've resolved this as far as we're going to. For 4.3 and later versions of the SDK, we will no longer publish upstream using MyGet. For older packages we're not going to retcon the "right" versions, as that has it's own set of issues.

As a side note, we'll be moving the upstream packaging / publishing to Azure Artifacts, which should cleanly (hopefully!) integrate with our various builds.

[2019-03-01 00:35] #758 closed

[2019-03-01 00:43] #774 closed

[2019-03-01 16:22] navzam commented on #758
@cleemullins That all sounds good. Thanks for taking the time to look into it, sorry it took you into this rabbit hole.

Is it possible to add a test somewhere in the publishing pipeline to ensure the two packages match for future versions? Maybe before publishing to npmjs if you always publish to MyGet first?

[2019-03-01 17:48] EricDahlvang commented on #183
It seems that the reason BotBuilder-dotnet does not have these issues is due to the caching of ConnectorClients https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L59 as well as using a static HttpClient https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L886  These two pat

[2019-03-02 17:58] montacerdk opened #803 "Text prompt maxRetries value"
Hello,

Using the botBuilder V3 SDK, we used to pass a **promptOptions** object that contains the `maxRetries` value, in which we define the maximum values of repetitions of a prompt. We had also other options such as (minValue, maxValue, ...).

With the new V4 SDK, I couldn't find any information in the documentation about the maxRetries.

Is there any solution to make a max value of prompt retri

[2019-03-03 13:02] ctstone opened #804 "botbuilder-azure should install runtime-dependent type files"
## Versions
What package version of the SDK are you using. `botbuilder@4.2.1`
What nodejs version are you using `v10.14.1`
What browser version are you using `N/A`
What os are you using `macOS 10.14.3`

## Describe the bug
When building a bot using TypeScript (3.3.1) that also includes `botbuilder-azure` the project is unable to compile due to missing `@types/documentdb`:

[code]

`@types/document

[2019-03-04 17:39] benbrown commented on #786
These aren't really the same, as they provide non-overlapping sets of helper methods... and we're using those methods!

That said, this is all internal implementation details so we should be able to change them without introducing any breaking changes.

[2019-03-05 16:56] benbrown commented on #786
I went with fs-extra, as it required the fewest changes to our codebase.

https://github.com/Microsoft/botbuilder-js/pull/805

[2019-03-05 18:12] benbrown commented on #745
I think if we implement eslint everwhere, this will be a good start. (See #728)

We'll be applying _typescript_ rules to typescript code, so there won't be a 100% match on the linter rules, but we'll at least be using the same tool and broadly the same set of rules.

[2019-03-05 18:43] CoHealer commented on #803
Thank you for your submission. The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues) repo is the preferred platform for submitting **bug fixes and feature requests**. Also, you already posed this same question in Stack

[2019-03-05 18:43] #803 closed

[2019-03-06 21:07] GasparAcevedoZainSouthworks commented on #785
Hi @JonathanFingold,
We have been researching on the usage of the methods [sendActivity](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/turnContext.ts#L183) & [sendActivities](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder/src/botFrameworkAdapter.ts#L578), from the libraries [Builder-Core](https://github.com/Microsoft/botbuilder-js

[2019-03-06 21:47] JonathanFingold commented on #785
@GasparAcevedoZainSouthworks , please link to the new issue, once it's open, and then close this issue.

Thanks much.

[2019-03-06 23:34] navzam opened #807 "Azure Bot Service returns expired access tokens if auth is revoked"
**(I don't think this is an SDK bug... if there's a better place for this issue, please help me direct it there.)**

## Describe the bug
Azure Bot Service manages your OAuth access tokens, including refreshing them. But if a user manually revokes authorization from your app, once your access token expires, Azure Bot Service continues giving you the same (now expired) access token.

## To Reproduce

[2019-03-07 19:06] dfavretto opened #808 "AzureBlobTranscriptStore throws error when starting conversation with Bot"
## Versions
What package version of the SDK are you using - 4.3.2
What nodejs version are you using - 10.8.0 / 11.10.0
What browser version are you using - N/A
What os are you using - Windows 10

## Describe the bug
After starting a conversation with the Bot, an error is thrown when trying to use the `azureBlobTranscriptStore`, describing that the callback function in `denodeify` is undefined.

![

[2019-03-07 19:30] #786 closed

[2019-03-07 20:22] GasparAcevedoZainSouthworks commented on #785
Hi @JonathanFingold,
Despite yesterday we said that the best approach to solve this issue could be creating a new ISSUE requesting that the `sendActivities` could receive both an activity list and a list of string, we continue researching on this topic and we found that:

- In the C# version, the method [sendActivities](https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft

[2019-03-07 20:35] benbrown commented on #727
This will be replaced by #806 where I've re-enabled linting and switched over to using eslint.

[2019-03-07 20:35] #727 closed

[2019-03-07 21:04] JonathanFingold commented on #785
I'll make a separate suggestion to overload MessageFactory.Text to accept an IEnumerable<string> parameter. Thanks.

[2019-03-07 21:04] #785 closed

[2019-03-09 07:19] iammelvin opened #810 "Userstate is not maintained correctly on multiple user requests"
## Versions
V4
8.11.4
Chrome
Windows

## Describe the bug
I have created a new basic bot project using azure bot service and I have downloaded the code to work locally.I use inmemorystate to handle user/conversation state.I am using directline api to connect to web app bot from my ionic app. When I convert that to apk and making calls from multiple devices at the same time results in data mix up.

[2019-03-11 07:28] #810 closed

[2019-03-13 14:49] Naveenbc commented on #117
The above shown code is not working for me. sendActivity is still ending my dialog

[2019-03-13 18:24] stevengum opened #814 "Unable to add post-"Turn" logic in ActivityHandler.run()"
## Versions
What package version of the SDK are you using. **4.3.2**
What nodejs version are you using. **10.14.1**

## Describe the bug
In C# it's trivial to override the onTurn method to add logic to run at the _end_ of a turn. Due to the event system used in the JS SDK, it's not possible to register a handler that fires after the turn in JS SDK. Developers would need to copy the ActivityHandler

[2019-03-13 23:52] cleemullins commented on #12
We have depricated the Table Storage Provider, and this Issue is no longer relevant.

[2019-03-13 23:52] #12 closed

[2019-03-14 04:15] kamaleshkishore opened #815 "Enabling chat for multiple user instances in v4 JS"
Hi, I am new to using bot framework and referred to the example provided in managing user and conversation state to implement a bot that gets an user's details. I hosted it and it works fine when there is only one user chatting with the bot at the moment. When simultaneous user chats with the bot (not group chat, but concurrent users interact separately with bot), the messages and user inputs get

[2019-03-14 16:12] mdrichardson commented on #815
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

I see that [you already posted this as a Stack Overflow ques

[2019-03-14 16:12] #815 closed

[2019-03-15 11:16] ballwood opened #818 "Webpack bundling broken"
## Versions
What package version of the SDK are you using. Latest
What nodejs version are you using. 8.10.0
What browser version are you using N/A
What os are you using Linux

## Describe the bug
After 4.1.7 - polyfill fixes broke webpack bundling
Commit here: https://github.com/Microsoft/botbuilder-js/commit/a20a44c638332eea1666cde4907fe66d552f5224#diff-a4cb641e4ac7086ddd5b5af0968c47f4
Webpack ca

[2019-03-15 20:56] cleemullins opened #820 "Migrate BotBuilder to use Scoped Packages (@Azure) on NPM"
Migrate the JS SDK Packages to use proper Scoping so packages can be trusted by source.

[2019-03-22 19:49] Zerryth opened #830 "[declarative-hack] Adding conversationProperty to WelcomeRule fires WelcomeRule twice"
## Versions
In stevenic/4.4-planning branch for hackathon, using declarative node version

## Describe the bug
Running sample `04.welcomeRule`, this is what's checked in for the user greeting

[code]

However the greeting is fired twice. Seems like once when the conversation starts, and another when the user starts the dialog

![image](https://user-images.githubusercontent.com/35248895/54849195-cc

[2019-03-22 20:01] ceciliaavila commented on #742
Hi @kichinsky, @Stevenic,
We reviewed this issue and found that the **score** in step.result is not the position where the matching word is. It's a number that represents the quality of the match. It's calculated as:
![image](https://user-images.githubusercontent.com/44245136/54848546-51b8ad00-4cc0-11e9-934a-17cf8937e494.png)

This field is relevant when _allowPartialMatches_ option is set to true

[2019-03-22 21:29] kichinsky commented on #742
Hi @ceciliaavila, I didn't mean that the score is the position of the matching word. From your example I see that your calculation formula comes from the idea of partial matching, when you give user some "multi word options" and they are able to choose by typing just some of the "word"s.

My test use case was quite opposite: user actually types more words, than are expected in the choicePrompt, or

[2019-03-22 22:26] Zerryth opened #831 "[declarative-hack] WelcomeRule doesn't CallDialog if the dialog called only has DefaultRule"
## Versions
In stevenic/4.4-planning branch for hackathon, using declarative node version

## Describe the bug
Setting up a `WelcomeRule`

[code]

When `HelpDialog` had only `DefaultRule`, dialog does not get called

_DefaultRule_
[code]
![image](https://user-images.githubusercontent.com/35248895/54856243-b7a03700-4cb6-11e9-8ec2-9199c4bd6ca1.png)

Changing `DefaultRule` to `BeginDialogRule` allows

[2019-03-22 23:26] Zerryth opened #833 "[declarative-hack] No DateTimeInput in AdaptiveDialogs"
## Versions
In stevenic/4.4-planning branch for hackathon, using declarative node version

## Describe the bug
Currently in the [readme ](https://github.com/Microsoft/botbuilder-dotnet/tree/ComposableDialog/samples) regarding the AdaptiveDialogs it lists the different inputs/prompts such as Text and different Number prompts (int, float, etc.)

It states that there's a `Microsoft.DateTimePrompt` ty

[2019-03-24 23:15] wanzhiqing2010 opened #835 "How to maintain session in Email Channel when the choices are rendered in Button style"
One of my customers is using email channel with button-style choice ({ listStyle: builder.ListStyle.**button** }). The problem is that when I directly click No button, a brand new email will be created in a new window in Outlook, when I send this email, what I expect is to receive an email of “Create a new SR for you!”.  However I got the email of “Does this help for you” again, which is the email

[2019-03-25 19:09] ceciliaavila commented on #742
Hi @kichinsky, @Stevenic,
We did some more tests and, as you mentioned, the score is the same (1) if the Choice's value matches complete or partially with the utterance from the user.
E.g.:

| Choice value | User's utterance  | Score |
| -------------- | ------------------ | ------ |
| Navigate |navigate | 1
| Navigate | web navigate | 1
| Web Navigate | navigate | 0 (*)

(*) _AllowPartialMatches

[2019-03-25 19:30] v-kydela commented on #835
@wanzhiqing2010 - Buttons in dialogs pose a significant challenge in the email channel for the reasons you've described. If there was a way to get a mailto link to continue an existing email thread then I suspect the Bot Framework would already be creating links like that.

I can give you another workaround for your customer to consider. While the bot won't be able to use the new conversation ID i

[2019-03-26 00:03] #808 closed

[2019-03-26 15:00] wanzhiqing2010 commented on #835
@v-kydela - Yes, my customer is willing to upgrade to V4. Could you shed some light on how to utilize user ID to maintain the conversation?

[2019-03-26 20:06] #728 closed

[2019-03-26 20:07] benbrown commented on #745
We've now implemented eslint on the main botbuilder-js project, which incorporates the same ruleset that is applied to the samples.

[2019-03-27 03:14] stevengum commented on #183
@EricDahlvang https://github.com/Azure/ms-rest-js/issues/308 and https://github.com/axios/axios/pull/1831

[2019-03-27 03:16] stevengum commented on #717
@justinwilaby https://github.com/Azure/ms-rest-js/pull/322 was merged, is this now unblocked?

@EricDahlvang as an FYI

[2019-03-27 20:15] benbrown commented on #698
Our position is that you should use the matching versions of the libraries.

[2019-03-27 20:15] #698 closed

[2019-03-27 20:20] benbrown commented on #748
We've got a lot of improvements coming, including the ability for dialogs to bubble activities up to parent dialogs -- however we are not currently planning on implementing this feature.  Thanks!

[2019-03-27 20:20] #748 closed

[2019-03-27 20:21] benbrown commented on #749
Thanks for your input. The state stuff as implemented can be tricky -- we are making big improvements in an upcoming release! :)

[2019-03-27 20:29] benbrown commented on #814
@stevengum can you drop some C# code here that uses this functionality and I'll be able to port it over...

[2019-03-27 20:33] #804 closed

[2019-03-27 20:35] stevengum commented on #820
We should use `@Microsoft` for parity in Dotnet and then add botbuilder Python to the microsoft namespace as well.

[2019-03-27 21:24] stevengum commented on #814
Here's the [code](https://github.com/Microsoft/BotBuilder-Samples/blob/samples-work-in-progress/samples/csharp_dotnetcore/13.core-bot/Bots/DialogBot.cs#L33-L40) that prompted the issue:
[code]

[2019-03-28 20:18] GasparAcevedoZainSouthworks opened #840 "PartitionKey value must be supplied for this operation"
## Versions
botbuilder  4.3.0
botbuilder-azure  4.3.4
nodejs version v10.14.2
Windows 10 pro v1803

## Describe the bug
When performing a delete operation in a partitioned cosmosDB collection, the following error is thrown:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Install the AzureCosmoDb emulator

2. Create a partitioned collection and insert a new document (Sample image below)

[2019-03-29 23:50] v-kydela commented on #835
@wanzhiqing2010 - If you look in a Basic Bot's [constructor](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/13.basic-bot/bot.js#L61), you can see where the dialog state is created from the conversation state:

[code]

All you have to do is create it from the user state instead:

[code]

[2019-04-02 09:11] montacerdk opened #845 "I have a problem with starting my bot from emulator - BotFrameworkAdapter.processActivity(): 401 ERROR - NotBeforeError: jwt not active"
I am developing a bot with Microsoft Bot Framework for Node.js.

I changed the LUIS App in the .bot file wit ha new one and then I generated a new botFileSecret, I tested my bot locally with the Bot Framework Emulator and everything just worked fine.

Then, I got this error:
[code]

After a research, I found [this](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-troubleshoot-authent

[2019-04-02 14:40] ctstone opened #846 "LuisRecognizer should include 'value', 'start', and 'end' properties for datetimeV2 resolutions"
## Versions
What package version of the SDK are you using. `4.3.4`
What nodejs version are you using `10.14.1`
What browser version are you using `n/a`
What os are you using `Windows` `macOS`

## Describe the bug
A LUIS datetimeV2 entity includes extra information about the resolved date(s), including `start` and `end` for ranges, and `value` for single non-ranges.

`LuisRecognizer` only [returns]

[2019-04-02 14:54] ctstone commented on #682
This is still an issue, at least for entities. [RecognizerResult](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/recognizerResult.ts#L34) defines the `entities` property as type `any`. This is definitely confusing because `LuisRecognizer` defines its own entity structure separate from the direct LUIS API.

[2019-04-02 19:59] Stevenic opened #847 "4.5 DCR: DeleteProperty step missing from JS"
JS is missing the `DeleteProperty` step.

[dcr]

[2019-04-02 21:31] Stevenic opened #848 "4.5 DCR: HttpRequest step missing from JS."
Add missing `HttpRequest` step.

[dcr]

[2019-04-03 15:06] shmuelgutman opened #851 "Context should act as EventEmitter?"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to "notify" other parts(like middlewares) of the system regarding something important happens in the midst of active dialog.

**Describe the solution you'd like**
The Context object can act as [EventEmitter](https://nodejs.org/docs/latest-v8.x/api/events.html), in this way developer can send event:

[2019-04-03 16:02] Jeffders commented on #807
Thanks for the comment. Indeed the component we have in Azure Bot Service to do the token refreshes still returns potentially expired tokens (i.e. there is nothing in the SDK we can change). Until that is changed, the proper behavior is something like:

Get the token
Try to use the token
If you get a 401/403 response (forbidden or unauthorized), you sign the user out with the API call and have the

[2019-04-03 16:02] #807 closed

[2019-04-03 16:33] navzam commented on #807
@Jeffders Is there somewhere to track issues for the token component of Azure Bot Service? Or Azure Bot Service in general?

[2019-04-03 16:50] mingweiw commented on #807
This is tracked [here](https://fuselabs.visualstudio.com/BotFramework/_workitems/edit/28336).

[2019-04-03 20:54] stevengum opened #852 "[Parity Issue] Ability to change the Prompt Styling through PromptAsync"
PR for Dotnet: https://github.com/Microsoft/botbuilder-dotnet/pull/1606
Original C# Issue: https://github.com/Microsoft/botbuilder-dotnet/issues/1433

[2019-04-03 20:54] stevengum commented on #852
@Zerryth when the PR is ready, please have @stevenic look through it.

[2019-04-03 21:39] axelsrz commented on #761
In 4.5 we're going to discuss the plan for moving forward with this.

[2019-04-03 23:24] DanDev33 opened #853 "listTranscripts( ) throws error when accessing AzureBlobTranscriptStore"
## Versions
botbuilder 4.3.4
botbuilder-azure 4.3.4 or 4.4.0-preview.56

## Describe the bug
After saving transcripts to AzureBlobTranscriptStore, calling
await myTranscriptStore.listTranscripts("emulator", pagedResult.continuationToken); fails
(see code below)

## To Reproduce
The following code snippit run using JS EchoBot fails:

// This function stores user transcript. Second part tries to lis

[2019-04-04 15:23] benbrown commented on #814
@stevengum I actually this this is what Javascript's `onDialog` method is intended for.

The `onDialog` event fires _last_ after all other events have fired.  It is intended to do end-of-turn type things like run the dialog stack and save state changes.

Do we need to add something like `onAfterTurn` or something as well?

[2019-04-04 15:35] benbrown commented on #814
Here's the code fwiw -> https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/activityHandler.ts#L144

[2019-04-04 17:40] Stevenic commented on #750
This would be a breaking change... We can't do it in 4.x

[2019-04-04 18:52] stevengum commented on #814
As long as we document this we should be fine, it's unfortunate about the naming... @sgellock, @Kaiqb, we'll need to pick this change up for the next run-through on the CoreBot sample.

[C# code for OnTurnAsync in ActivityHandler.cs](https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/ActivityHandler.cs#L30)

`OnTurnAsync == onDialog`

[2019-04-05 14:29] benbrown commented on #814
Another thing to keep in mind is that there is also an `onTurn` for Javascript that runs _first_ before any other more specific event.

[2019-04-05 17:07] stevengum commented on #814
@Kaiqb FYI

We also need to make sure to document that people call next, otherwise developers might run into some confusing bugs

[2019-04-08 19:04] v-kydela commented on #835
@wanzhiqing2010 - Did that resolve your issue?

[2019-04-08 19:22] NicovdijkWork opened #866 "DialogContext.cancelAllDialogs() cannot cancel past ComponentDialog."
## Versions
Versions of the library:
        "botbuilder": "4.3.2",
        "botbuilder-ai": "4.3.2",
        "botbuilder-azure": "4.3.4",
        "botbuilder-dialogs": "4.3.2"
Nodejs: v10.14.1
Windows

## Describe the bug
The dialog stack inside a `ComponentDialog` is reset. This causes the behavior that `DialogContext.cancelAllDialogs()` will only cancel all dialogs inside the `ComponentDialog`,

[2019-04-08 20:42] sgellock commented on #866
@stevenic, by design?

[2019-04-09 13:16] gabog commented on #303
Hi @stevengum, I had a talk with @cleemullins the emulators are running in the build agent for node in the new Azure DevOps pipeline and the tests are running there.

![image](https://user-images.githubusercontent.com/12264946/55803335-25ff3a80-5aa8-11e9-9102-070406227ce2.png)

[2019-04-09 13:16] #303 closed

[2019-04-09 17:53] Batta32 opened #868 "[Feature Request] Implement botbuilder-templatemanager"
**Is your feature request related to a problem? Please describe.**
It would be very useful to implement a `botbuilder-templatemanager` which is implemented in BotBuilder-Dotnet (you can find it [here](https://github.com/Microsoft/botbuilder-dotnet/tree/master/libraries/Microsoft.Bot.Builder.TemplateManager)).

**Describe the solution you'd like**
Implement a library with this solution.

**Describe

[2019-04-09 20:10] cleemullins commented on #853
@DanDev33 Dan, from the text of this issue, it seems like something we've already fixed in the 4.4 cycle (to ship towards the end of this month). The bug(s) in question were cleaned up in PR #836 with [this commit](https://github.com/Microsoft/botbuilder-js/commit/b82a4c354672ea6ecbf4a564bb9d43f8211421ef#diff-aec7ec2a913c15ba037ab7744a42b2b2).

We don't have plans to push a patch at this time.

I'

[2019-04-09 20:10] #853 closed

[2019-04-10 00:13] Zerryth commented on #852
should have pr in by tomorrow :)

[2019-04-10 21:50] Zerryth opened #869 "ChoicePrompt does not send choices if PromptOptions are passed in to waterfallStepContext.Prompt()"
## Versions
What package version of the SDK are you using. - `4.3.4`
What nodejs version are you using - `v10.14.1`
What os are you using - Windows
Sample - node `10.prompt-validations`

## Describe the bug
`ChoicePrompt` does not send choices if `PromptOptions` are passed in.
___
### _Working_ - `ChoicePrompt`, *without* passing `PromptOptions`
![image](https://user-images.githubusercontent.com/3

[2019-04-10 21:54] Zerryth commented on #852
Good news!
* I have the code written that should bring prompt styling in parity with C#

Bad news!
* making 100% sure is blocked by [this bug I found in `ChoicePrompt`](https://github.com/Microsoft/botbuilder-js/issues/869) when testing the styling from a bot

* per Steven Gum, created ticket, and will work on fixing that bug to confirm that this feature is good to go

[2019-04-10 23:54] jwiley84 commented on #845
Investigating

[2019-04-11 16:16] ryanvolum commented on #682
@johnataylor, @Zerryth I'm not sure how the text and the images provided lack correlation. There's no `topScoringIntent` off of the `RecognizerResult` and entities _are_ typed as any:

![image](https://user-images.githubusercontent.com/3891951/55973348-37784c00-5c3a-11e9-8511-4176a64fe00a.png)

To @ctstone's point, this confuses people because they have no idea what a `LuisRecognizer` entity is or

[2019-04-11 17:52] Zerryth commented on #682
hey gang I have it on my to-do list to investigate this again (need to wrap up some other tasks first)

I'll update thread to new findings/questions then though

[2019-04-11 21:38] Zerryth commented on #869
ahhh ok, figured it out

`DialogContext.prompt()` has a couple overloads that take 3 parameters
  * 2nd parameter is options and 3rd parameter is choices.
* `PromptOptions` actually has a `choices` property too, and `.prompt()` assigns the choices that are set in `PromptOptions`, ignoring the 3rd arg choices passed into `DialogContext.prompt()`
* so if I only set `PromptOptions.retryPrompt`, for e

[2019-04-11 21:39] Zerryth commented on #852
managed to get work around bug described above and code for parity for styling is good to go

wrapping changes for this PR and issue #869 together

[2019-04-11 22:15] Stevenic commented on #866
I've fixed this in 4.5. I think it would be relatively straightforward to apply that fix to 4.4.

[2019-04-11 22:21] Stevenic commented on #750
Activity is an interface in JavaScript so its a plain old json object.  We can't add methods to it because it won't serialize.  We had to stick these methods somewhere and moving them now would be a breaking change.

[2019-04-11 22:21] #750 closed

[2019-04-11 22:23] Stevenic commented on #749
This will all be simpler in 4.next so closing this for now.

[2019-04-11 22:23] #749 closed

[2019-04-11 22:28] Stevenic commented on #742
This looks to be a bug. We should try to fix in 4.4 if we have the cycles.

[2019-04-12 14:44] benbrown commented on #745
Upon review of the samples work in progress, I believe this is done!

[2019-04-12 14:44] #745 closed

[2019-04-12 16:16] mdrichardson opened #872 "[DCR] ARM Deployment .env variables"
**Is your feature request related to a problem? Please describe.**

Now that we're removing `.bot` files, users will need to update the App Service's Application Settings with appropriate keys that don't auto-populate such as:

* Storage keys
* LUIS/QnA keys

I didn't see any mention of this in the Deployment docs.

**Describe the solution you'd like**

I think the best/easiest solution is to just

[2019-04-13 00:58] cleemullins commented on #328
@mdrichardson Can you share what we should do with this? Do you have PR's ready? I would love to either:
1. Get onto the latest packages and close this issue.
2. Punt this to 4.5, at which point we do that same work.

My preference is #2, as we have significant samples and other doc changes in flight for this cycle and the change now may impact that.

[2019-04-13 01:01] cleemullins commented on #840
Resolved by #860

[2019-04-13 01:01] #840 closed

[2019-04-13 01:03] cleemullins commented on #706
Duplicate of #328. Closing.

[2019-04-13 01:03] #706 closed

[2019-04-13 01:04] cleemullins commented on #717
@juanar, is this something we can move forward with this cycle? We just finished getting Proxy support working in the C# SDK (thanks @carlosscastro and @dmvtech and @drub0y !!), and having parity in the JS would be great.

[2019-04-13 01:05] cleemullins commented on #852
@Zerryth Awesome! Is the PR ready?

[2019-04-13 01:06] cleemullins commented on #869
Any update on the fix?

[2019-04-13 01:08] cleemullins commented on #866
I believe we should not take this in 4.4. IT's a behavior change, a docs change, and (probably) samples change.

[2019-04-13 01:08] cleemullins commented on #818
@juanar Any update on this?

[2019-04-13 01:10] cleemullins commented on #814
@benbrown @Kaiqb I believe this should be assigned to @kaiqb for doc updates, as there's no code to be written here.

[2019-04-13 01:12] cleemullins commented on #742
@stevenic Any update on this?

[2019-04-13 01:13] cleemullins commented on #620
@juanar Any update on this?

[2019-04-13 01:18] #787 closed

[2019-04-13 01:18] cleemullins commented on #787
PR has been merged. Closing Issue.

[2019-04-13 08:59] NicovdijkWork commented on #866
For anyone reading this, the work-around I used is to only use a single ComponentDialog at the root (like main conversation directions. All other dialogs (Prompts or WaterfallDialogs) that can end up on top of the ComponentDialog can be added to the DialogSet in the ActivityHandler instead. For instance, I have a cancel dialog and a corresponding ConfirmPrompt added to the DialogSet separately.

[2019-04-14 12:02] montacerdk commented on #845
Hi, here is some more details,

I just changed the LUIS App in the .bot file with these steps:

- Decrypt the .bot file with the MSBot tools command.
- Change LUIS Subscrption Key and AppId ...
- Encrypt the .bot file again
- Update the .env file with the new .botFileSecret
- Enter the new .botFileSecret to the emulator

I tested the new LUIS app after starting the bot, and everything is alright.

[2019-04-15 14:26] Zerryth commented on #869
@cleemullins ah, I distracted myself with the declarative hackathon, and didn't push the PR. I needed to write a test and wanted to fire up a bot using new code to double check

Realizing April 15th is NOW--I'll do better next time with being aware of the date

PR with tests is in and ready to go now, pending review

[2019-04-15 14:54] mdrichardson commented on #328
@cleemullins I had a JS version ready to go, but we've made enough changes to `CosmosDbStorage` that I'll need to re-look at it. The `@azure/cosmos` module is a pretty big change from `DocumentDb`, which is what we currently use. As such, I recommend we don't upgrade until the C# Cosmos SDK is ready, to ensure parity. Last I looked, the C# Cosmos SDK V3 (the new one) didn't allow non-partitioned D

[2019-04-15 20:43] montacerdk opened #876 "[Feature Request] botbuilder v4 multilingual management"
Hi,

Is there a coming version of botbuilder SDK v4 that integrates the localization management?

Using the V3 SDK, we used to get the locale just by running:

[code]

[2019-04-15 21:30] GasparAcevedoZainSouthworks commented on #818
Hi @cleemullins,

We were able to reproduce this issue, and we find out that this was failing because the botframework-connector library uses a dynamic import (which are set in execution time), but Webpack uses the imports generated in compile time.

To solve this issue we are investigating two possible approaches. The first one would be adding [magic comments](https://webpack.js.org/api/module-me

[2019-04-15 22:29] CoHealer commented on #835
Hi @wanzhiqing2010. It's been 20 days since your last response. Closing as resolved. If you feel it is not please follow up with us.

[2019-04-15 22:29] #835 closed

[2019-04-15 22:32] CoHealer commented on #779
@Kaiqb, please let us know if you need help on this and we can reassign to an SE

[2019-04-16 17:59] tdurnford commented on #876
I don't believe there are any upcoming plans to add locale functionality to the BotFramework SDK in the immediate future; however, there is a [Multilingual Sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/17.multilingual-conversations) that prompts the user for their language choice and proceeds to translate messages accordingly that may be helpful.

[2019-04-16 17:59] #876 closed

[2019-04-17 20:37] #852 closed

[2019-04-17 20:41] gabog commented on #742
@Stevenic, did you have a chance to take a look at this one?

[2019-04-17 20:42] gabog commented on #620
@JuanAr Any update on this?

[2019-04-17 20:46] JuanAr commented on #620
@cleemullins @gabog we still haven't had the chance to start digging into this one. However, we realized #818 is related to this one and should be tackled first.
As a ballpark ETA, we are going to fix this issue early next week.

[2019-04-17 23:06] KatieProchilo opened #882 "No documentation on getting form input data from Adaptive Cards"
**Is your feature request related to a problem? Please describe.**

When developers think about getting data from a user, a natural first choice is Adaptive Cards. However, when it comes to implementing an Adaptive Card form, developers have to depend on many different GitHub issues and Stack Overflow questions, and the code can be unintuitive at first. Specifically, it felt weird to send a card a

[2019-04-18 20:33] pavigor opened #883 "I have an Error: Hostname/IP doesn't match certificate's altnames"
## Versions
What package version of the SDK are you using.
**botbuilder@3.16.0**
What nodejs version are you using
**v8.16.0**

## Describe the bug
Some time ago I started to get error when my bot receives the command from user:

## To Reproduce
The error may encounter from time to time

## Expected behavior
Not sure

[bug]